  <div itemprop="itemListElement">
    <div class="product_bg"></div>
    <div class="product_inner">
      <div class="product_features_top">
        <noindex>
          <div class="stickers">
            {%if product.old_price%}<div class="product_sticker_special">-{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%</div>{%endif%}
          </div>
        </noindex>
        <div class="product_features_buttons">
          <a class="product_features_compare " data-compare-add="{{ product.id }}"></a>
        </div>
      </div>
      <div class="image">
        <a href="{{product.url}}" itemprop="url">
          <img class="lazyload" src="{{product.first_image.medium_url}}" data-src="{{product.first_image.medium_url}}" alt="{{product.title}}"></a>
      </div>
      <div class="name">
        <a href="{{product.url}}" itemprop="name">{{product.title}}</a>
      </div>
      <div class="description">
        <ul>
          <li>
            <div class="attr_left"><span>Артикул:</span></div>
            <div class="attr_right"><span>{{product.id}}</span></div>
          </li>
          {% for property in product.properties limit: 3%}
            <li>
                <div class="attr_left"><span>{{ property.title }}</span></div>
                    <div class="attr_right"><span>
                      {% for characteristic in product.properties[property.handle].characteristics %}
                        {{ characteristic.title }}{% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    </span></div>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="rating">
        <div class="rating_left">
          <a class="rating_stars" href="{{product.url}}">
            <div class="rating_full"  style="width:{{ 100 | divided_by: 5 | times: product.rating }}%"></div>
          </a>
        </div>
        <div class="rating_right">
          <a class="rating_reviews" href="{{product.url}}">{{product.reviews | size}}</a>
        </div>
      </div>
      <div class="product_bottom">
        <div class="price">
          <meta itemprop="priceCurrency" content="RUB">
          {%if product.old_price%}<span itemprop="price" class="price-old">{{product.old_price}}</span>{%endif%}
          <span class="price-new">{{product.price | money}}</span>
        </div>
        <div class="stock">
          {%if product.available%}
            <span class="in_stock_icon">В наличии<span></span></span>
          {%else%}
            <span class="out_of_stock_icon">Нет в наличии<span></span></span>
          {%endif%}
        </div>
        <div class="cart">
          <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
            <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
            <div style="display: none;" data-quantity><input type="text" name="quantity" value="1" /></div>
            <a class="button add_to_cart_10814 " data-item-add>
              <span style="margin:2px;"></span>
              <div class="add_to_cart_help">Товар в корзине</div>
            </a>
          </form>
        </div>
        <div class="cl_b"></div>
      </div>
    </div>
  </div>
