<div id="header" class="header_checkout">
		<div id="header_middle">
		<div class="container">
							<div id="logo">
											<a href="/"><img src="{{'logotype.jpg' | asset_url}}" title="{{account.title}}" alt="{{account.title}}" style="max-width: 200px; max-height: 50px;"></a>
									</div>
									<div id="header_phones">
				<a href="tel:{{settings.telephone_number | remove: " " | remove: "(" | remove: ")" }}"><span class="phone_top">{{settings.telephone_number}}</span></a>
				<div class="everyday_text">{{settings.time}}<span class="callback_button"><span>Обратный звонок</span></span></div>
			</div>
		</div>
	</div>
	</div>
