{% include 'breadcrumb' %}

<h1 itemprop="name">{{collection.title}}</h1>




<div id="column-left" class="">
  <div class="box-cat">
    <div class="box-cat-heading">Категории товаров</div>
    <div class="box-cat-content">
      <ul class="box-cat-category">
        {%for collection in collection.subcollections%}
          <li>
            <a href="{{collection.url}}">{{collection.title}}</a>
            {% assign subcoll = collection.subcollections | size%}
            {%if subcoll > 0%}
              <div class="category_open_also"></div>
              <div class="category_2nd_also">
                <ul class="box-cat-category">
                  {%for collection in collection.subcollections%}
                    <li>
                      <a href="{{collection.url}}">{{collection.title}}</a>
                    </li>
                  {%endfor%}
                </ul>
              </div>
            {%endif%}
          </li>
        {%endfor%}
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.box-cat-heading').live('click', function() {
        if ($(this).hasClass('box-cat-heading-active')) {
          $('.box-cat-content>.box-cat-category').css('display', 'block');
          $(this).removeClass('box-cat-heading-active');
        } else {
          $('.box-cat-content>.box-cat-category').css('display', 'none');
          $(this).addClass('box-cat-heading-active');
        }
      });
    });
  </script>
  <div class="homepage_banner w100">
    <div class="product-of-day">
      {%assign product_day_count = 0%}
      {% for product in collections.all.products %}
        {%if product.properties.label.characteristics[0].name == "Товар Дня" and product_day_count < 1 %}
          {%assign product_day_count = 1%}
          <div class="product_of_day">
            <span class="economy_text">Экономия</span>
            <span class="economy_price">{{product.old_price | minus: product.price | round: 0}} <span class="rouble"> руб.</span></span>
          </div>
          <div class="day_title">Товар дня</div>
          <div class="image">
            <a href="{{product.url}}"><img src="{{product.first_image.original_url}}" alt="{{product.title}}" /></a>
          </div>
          <div class="category_name">
            {{product.collections.last.title}}
          </div>
          <div class="name"><a href="{{product.url}}">{{product.title}}</a></div>
          <div class="description"></div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="{{product.url}}">
                <div class="rating_full" style="width: 100%"></div>
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="{{product.url}}">{{product.reviews | size}}</a>
            </div>
          </div>
          <div class="product_bottom">
            <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
              <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
              <div style="display: none;" data-quantity>
                <input type="text" name="quantity" value="1" />
              </div>
              <div class="price">
                {%if product.old_price%}<span class="price-old">{{product.old_price | round: 0}}</span>{%endif%} <span class="price-new">{{product.price | money}}</span>
              </div>
              <div class="cart"><a class="button" data-item-add><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
              <div class="cl_b"></div>
              </form>
            </div>
          {%break%}
        {%endif%}
      {%endfor%}
      </div>
  </div>
  <div class="team_banners">
    <a href="https://ru-mi.com/contact/" data-promo="{&quot;id&quot;:&quot;Rumicom Team&quot;,&quot;name&quot;:&quot;rumi_team_banner_sergey.jpg&quot;,&quot;creative&quot;:&quot;&quot;}" onclick="ee_promo.click(this); return !ga.loaded;">
      <img src="image/data/team_banners/rumi_team_banner_sergey.jpg">
    </a>
  </div>
  <script type="text/javascript">
    <!--
    ga('ec:addPromo', {
      'id': 'Rumicom Team',
      'name': 'rumi_team_banner_sergey.jpg',
      'creative': ''
    });
    ga('send', 'event', 'promo', 'impression', {
      'nonInteraction': true
    });

    function onPromoClick(promoObj, href) {
      ga('ec:addPromo', {
        'id': 'Rumicom Team',
        'name': 'rumi_team_banner_sergey.jpg',
        'creative': ''
      });
      ga('send', 'event', 'promo', 'click', {
        'nonInteraction': true
      });
      location.href = href;
    }
    -->
  </script>
</div>

<div id="content" class="category_content">
  <script type="text/javascript">
    (window["rrApiOnReady"] = window["rrApiOnReady"] || []).push(function() {
      try {
        rrApi.categoryView("Наушники и колонки");
      } catch (e) {}
    });
  </script>
  <script type="text/javascript">
    var product = {
      category: ['Наушники и колонки']
    };
  </script>

  <script type="text/javascript">
    (function() {
      var s = document.createElement('script');
      var x = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'eu-sonar.sociomantic.com/js/2010-07-01/adpan/ru-mi-ru';
      x.parentNode.insertBefore(s, x);
    })();
  </script>
  <div class="category_content">
    <div class="product-filter">
      <div class="product-filter-wave"></div>
      <div class="display">
        <div onclick="display('list');" class="view_as_list"></div>
        <div class="view_as_grid active_view"></div>
      </div>
      <div class="mobile_filter"><span>Фильтр</span></div>
      <div class="sort">
        <form class="collection-order-wrapper" action="{{ collection.url }}" method="get">
            <label class="label-field hide">Сортировать: </label>
            <select class="select-field js-filter-trigger" name="order">
              {{ "" | select_option: order, "По умолчанию" }}
              {{ "descending_popularity" | select_option: order, "По популярности" }}
              {{ "price"            | select_option: order, "По возрастанию цене" }}
              {{ "descending_price" | select_option: order, "По убыванию цены"  }}
              {{ "descending_age"   | select_option: order, "По новинкам" }}
              {{ "descending_discount" | select_option: order, "По скидке" }}
              {{ "title" | select_option: order, "По алфавиту" }}
            </select>
        </form>
      </div>
    </div>
    <script>
      $('.js-filter-trigger').on('change', function (event) {
        $(this).parents('form:first')
          .submit();
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.mobile_filter').live('click', function() {
          var cont_top = parseInt(window.pageYOffset ? window.pageYOffset : document.body.scrollTop);
          $('.background_adaptive_filter').css('display', 'block');
          $('#column-left').css('display', 'block');
          $('#column-left').css('left', '-233px');
          $('#column-left').css('top', cont_top + 'px');
          $('#column-left').css('display', 'block');
          $('#column-left').animate({
            left: "0"
          }, 300, function() {});
        });
        $('.background_adaptive_filter').live('click', function() {
          $('#column-left').css('display', 'none');
          $('.background_adaptive_filter').css('display', 'none');
        });
        $('background_adaptive_filter').bind("touchstart", function(e) {
          $('#column-left').css('display', 'none');
          $('.background_adaptive_filter').css('display', 'none');
        });
        $('.show_products_adaptive').live('click', function() {
          $('#column-left').css('display', 'none');
          $('.background_adaptive_filter').css('display', 'none');
        });
        $('show_products_adaptive').bind("touchstart", function(e) {
          $('#column-left').css('display', 'none');
          $('.background_adaptive_filter').css('display', 'none');
        });
      });
    </script>
    <div class="product-grid product-grid_4" itemprop="itemListOrder" itemscope="" itemtype="http://schema.org/ItemList">
      {%for product in collection.products %}
        <div itemprop="itemListElement">
          <div class="product_bg"></div>
          <div class="product_inner">
            <div class="product_features_top">
              <noindex>
                <div class="stickers">
                  {%if product.old_price%}<div class="product_sticker_special">-{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%</div>{%endif%}
                </div>
              </noindex>
              <div class="product_features_buttons">
                <a class="product_features_wishlist " product_id="10814"></a>
                <a class="product_features_compare " product_id="10814"></a>
              </div>
            </div>
            <div class="image">
              <a href="{{product.url}}" itemprop="url">
                <img class="lazyload" src="{{product.first_image.medium_url}}" data-src="{{product.first_image.medium_url}}" alt="{{product.title}}"></a>
            </div>
            <div class="name">
              <a href="{{product.title}}" itemprop="name">{{product.title}}</a>
            </div>
            <div class="description">
              <ul>
                <li>
                  <div class="attr_left"><span>Артикул:</span></div>
                  <div class="attr_right"><span>9768</span></div>
                </li>
                <li>
                  <div class="attr_left"><span>Тип подключения:</span></div>
                  <div class="attr_right"><span>Bluetooth</span></div>
                </li>
                <li>
                  <div class="attr_left"><span>Объём аккумулятора (mAh):</span></div>
                  <div class="attr_right"><span>40</span></div>
                </li>
                <li>
                  <div class="attr_left"><span>Модель:</span></div>
                  <div class="attr_right"><span>TWSEJ02LM</span></div>
                </li>
              </ul>
            </div>
            <div class="rating">
              <div class="rating_left">
                <a class="rating_stars" href="{{product.url}}">
                  <div class="rating_full" style="width: 100%"></div>
                </a>
              </div>
              <div class="rating_right">
                <a class="rating_reviews" href="https://sankt-peterburg.ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj/reviews">6</a>
              </div>
            </div>
            <div class="product_bottom">
              <div class="price">
                <meta itemprop="priceCurrency" content="RUB">
                {%if product.old_price%}<span itemprop="price" class="price-old">{{product.old_price}}</span>{%endif%}
                <span class="price-new">{{product.price | money}}</span>
              </div>
              <div class="stock"><span class="in_stock_icon">В наличии<span></span></span>
              </div>
              <div class="cart"><a onmousedown="try { rrApi.addToBasket(10814) } catch(e) {}" onclick="addToCart('10814');" class="button add_to_cart_10814 "><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
              <div class="cl_b"></div>
            </div>
          </div>
        </div>
      {%endfor%}
    </div>
    <div class="pagination">
      <div class="links"> <b>1</b> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=2">2</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=3">3</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=4">4</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=5">5</a>        <a href="https://ru-mi.com/naushniki-i-kolonki/?page=6">6</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=7">7</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=8">8</a> <a href="https://ru-mi.com/naushniki-i-kolonki/?page=9">9</a>
        <a class="next_pagination" href="https://ru-mi.com/naushniki-i-kolonki/?page=2"></a>
      </div>
    </div>
    <div class="category-info">
      {{collection.description}}
      <div class="category-info_show_all"><span>показать полностью</span></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        var show_welcome_bottom = 1;
        var show_welcome_arrow = 0;
        var welcome_show_all_height = $('.category-info').height();
        if (parseInt(welcome_show_all_height) > 150) {
          $('.category-info').height('150px');
          $('.category-info_show_all span').live('click', function() {
            if (show_welcome_bottom == 1) {
              show_welcome_bottom = 0;
              if (show_welcome_arrow == 0) {
                $(".category-info").animate({
                  "padding-bottom": "80px",
                  "height": welcome_show_all_height
                }, 200, function() {
                  show_welcome_bottom = 1;
                });
                $('.category-info_show_all span').text('скрыть');
                $('.category-info_show_all span').addClass('welcome_show_all_active');
                show_welcome_arrow = 1;
              } else {
                $(".category-info").animate({
                  "padding-bottom": "50px",
                  "height": "150px"
                }, 200, function() {
                  show_welcome_bottom = 1;
                });
                show_welcome_arrow = 0;
                $('.category-info_show_all span').text('показать полностью');
                $('.category-info_show_all span').removeClass('welcome_show_all_active');
              }
            }
          });
        } else {
          $('.category-info_show_all').css('display', 'none');
        }
      });
    </script>
    <div class="category_bottom_10px"></div>
  </div>


  <div class="rr_category_desktop">
    <div data-retailrocket-markup-block="595a5d5d9872e57c20d5ac00" data-category-id="Наушники и колонки" initialized="true">
      <style type="text/css">
        .retailrocket-widget-595a5d5d9872e57c20d5ac00{font:inherit;position:relative}.retailrocket-widget-595a5d5d9872e57c20d5ac00 .retailrocket-item{display:inline-block;vertical-align:top}.retailrocket-widget-595a5d5d9872e57c20d5ac00[data-retailrocket-buybutton=false] .retailrocket-actions-buy,.retailrocket-widget-595a5d5d9872e57c20d5ac00[data-retailrocket-morebutton=false] .retailrocket-actions-more{display:none}.rr-widget-category .retailrocket-items-container{width:100%}.rr-widget-category .retailrocket-widgettitle{display:block;color:#27292f;background-color:#fff;font-family:Roboto,Arial,Helvetica,sans-serif;margin-top:0;padding:20px 0 20px 20px;font-size:30px;font-weight:300}.rr-widget-category .retailrocket-items{font:14px Verdana,Geneva,sans-serif;letter-spacing:-.36em;font-size:0;background-color:#fff;margin-bottom:20px;position:relative;width:100%;padding:0;border-top:1px solid #ebedf1}.rr-widget-category .retailrocket-item{z-index:1;width:20%;font-family:Roboto,Arial,Helvetica,sans-serif;letter-spacing:normal;font-size:14px;display:inline-block;text-align:center;position:relative;border-right:1px solid #ebedf1;border-bottom:1px solid #ebedf1;box-sizing:border-box}.rr-widget-category .retailrocket-item:nth-child(5){border-right:none}.rr-widget-category .retailrocket-item a:focus{outline:0}.rr-widget-category .retailrocket-item::before{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:#fff;border:1px solid transparent;-webkit-transform:scaleX(1);transform:scaleX(1);box-shadow:0 0 0 transparent;transition:box-shadow .2s cubic-bezier(.19,1,.22,1),border-color .1s cubic-bezier(.19,1,.22,1),-webkit-transform .2s cubic-bezier(.19,1,.22,1);transition:transform .2s cubic-bezier(.19,1,.22,1),box-shadow .2s cubic-bezier(.19,1,.22,1),border-color .1s cubic-bezier(.19,1,.22,1);transition:transform .2s cubic-bezier(.19,1,.22,1),box-shadow .2s cubic-bezier(.19,1,.22,1),border-color .1s cubic-bezier(.19,1,.22,1),-webkit-transform .2s cubic-bezier(.19,1,.22,1);-webkit-backface-visibility:hidden;backface-visibility:hidden}.rr-widget-category .retailrocket-item-container{padding:18px 20px;position:relative}.rr-widget-category .retailrocket-item-container::after{content:'';display:block;clear:both}.rr-widget-category .retailrocket-item-image img{-webkit-transform:scale(1) translateZ(0);transform:scale(1) translateZ(0);transition:-webkit-transform .2s cubic-bezier(.19,1,.22,1);transition:transform .2s cubic-bezier(.19,1,.22,1);transition:transform .2s cubic-bezier(.19,1,.22,1),-webkit-transform .2s cubic-bezier(.19,1,.22,1)}.rr-widget-category .retailrocket-item-title{padding:5px 0 10px;text-align:left}.rr-widget-category .retailrocket-item-title span{font-size:15px;color:#31373f;text-decoration:none;height:38px;overflow:hidden;display:inline-block}.rr-widget-category .item-discount-wrapper,.rr-widget-category .item-hit,.rr-widget-category .item-new{height:26px;color:#fff;line-height:26px;top:22px;position:absolute;z-index:10;font-size:14px}.rr-widget-category .item-discount-wrapper{background:url(//rrstatic.retailrocket.net/ru-mi/widget/sticker_special.png) no-repeat;width:58px;text-align:center;right:0}.rr-widget-category .item-hit{background:url(//rrstatic.retailrocket.net/ru-mi/widget/sticker_hit.png) no-repeat;width:39px;padding-left:32px;left:0;text-align:left}.rr-widget-category .item-new{background:url(//rrstatic.retailrocket.net/ru-mi/widget/sticker_new.png) no-repeat;width:83px;left:-1px;text-align:center}.rr-widget-category .item-rostest{position:absolute;right:0;top:55px;z-index:10}.retailrocket.retailrocket-theme-kitmall .item-global{position:absolute;left:0;top:55px;z-index:10}.retailrocket.retailrocket-theme-kitmall .item-global.item-global--first{top:22px}.rr-widget-category .item-global{position:absolute;left:0;top:55px;z-index:10}.rr-widget-category .rating{overflow:hidden;margin-bottom:8px}.rr-widget-category .rating_left{float:left;margin-top:5px;position:relative}.rr-widget-category .rating_right{float:right;margin-right:20px}.rr-widget-category .rating_stars_empty{width:90px;height:13px;background:url(//rrstatic.retailrocket.net/ru-mi/widget/stars_empty.png) no-repeat;position:relative;background-size:90px}.rr-widget-category .rating_stars_full{position:absolute;left:0;opacity:1;background-color:#fff;z-index:1;overflow:hidden}.rr-widget-category .rating_full{width:90px;height:13px;background:url(//rrstatic.retailrocket.net/ru-mi/widget/stars_full.png) no-repeat;position:relative;background-size:90px}.rr-widget-category .rating_reviews{height:22px;line-height:22px;padding-left:22px;background:url(/catalog/view/theme/default/image/reviews_icon.png) left center no-repeat;font-size:14px;color:#a8acbf}.rr-widget-category .item-old-price,.rr-widget-category .item-old-price span{font-size:14px;color:#a0a7b1;font-weight:400;text-decoration:line-through}.rr-widget-category .item-old-price{text-align:left;position:absolute;bottom:25px}.rr-widget-category .retailrocket-price-wrapper{float:left;position:relative;padding-top:18px;line-height:29px;font-size:23px;font-weight:500;color:#333}.rr-widget-category .retailrocket-item:hover::before{-webkit-transform:scale3d(1.005,1.005,1);transform:scale3d(1.005,1.005,1);border-color:#ededed;box-shadow:0 5px 10px rgba(0,0,0,.08);z-index:11}.rr-widget-category .retailrocket-item:hover .retailrocket-item-container{z-index:11}.rr-widget-category .retailrocket-item-price-currency:after,.rr-widget-category .retailrocket-selected-item-price-currency:after{content:' \20BD';font-size:80%}.rr-widget-category .retailrocket-actions{float:right;margin-top:18px}.rr-widget-category .retailrocket-actions-buy{cursor:pointer;color:#fff;line-height:29px;height:29px;font-size:13px;position:relative;display:inline-block;text-decoration:none;padding:0 22px}.rr-widget-category .retailrocket-actions-buy::before{content:'';height:100%;left:0;position:absolute;top:0;width:100%;transition:all .2s ease;background:#48a92b;-webkit-border-radius:18px;-moz-border-radius:18px;-khtml-border-radius:18px;border-radius:18px}.rr-widget-category .retailrocket-actions-buy:hover::before{transform:scale(1.03);transition:all .2s ease}.rr-widget-category .retailrocket-actions-buy::after{content:'В корзину';background:url(/catalog/view/theme/default/image/cart-product.png) left center no-repeat;line-height:18px;display:inline-block;position:relative;text-indent:-9999px;padding:0;width:18px}.rr-widget-category .slick-list{position:relative;display:block;margin:0;padding:0;overflow:hidden}.rr-widget-category .Reviews-slider-arrow-button--next,.rr-widget-category .Reviews-slider-arrow-button--prev{position:absolute;top:50%;transform:translate(0,-50%);display:block;background-size:100%;z-index:1}.rr-widget-category .Reviews-slider-arrow-button--prev{width:33px;height:30px;padding:0;margin:0 2px 0 0;background:#a3a3a3;border-radius:0 15px 15px 0;cursor:pointer;transition:all .2s ease;border:none;left:0}.rr-widget-category .Reviews-slider-arrow-button--prev:hover::before{background:url(//rrstatic.retailrocket.net/ru-mi/widget/image_additional_left.png) top center no-repeat}.rr-widget-category .Reviews-slider-arrow-button--prev:hover{background:#f7f7f7}.rr-widget-category .Reviews-slider-arrow-button--prev::before{content:"";width:33px;height:12px;background:url(//rrstatic.retailrocket.net/ru-mi/widget/image_additional_left.png) bottom center no-repeat;display:inline-block;margin-top:8px}.rr-widget-category .Reviews-slider-arrow-button--next{width:33px;height:30px;padding:0;margin:0 0 0 2px;background:#a3a3a3;border-radius:15px 0 0 15px;cursor:pointer;transition:all .2s ease;border:none;right:0}.rr-widget-category .Reviews-slider-arrow-button--next:hover::before{background:url(//rrstatic.retailrocket.net/ru-mi/widget/image_additional_right.png) top center no-repeat}.rr-widget-category .Reviews-slider-arrow-button--next:hover{background:#f7f7f7}.rr-widget-category .Reviews-slider-arrow-button--next::before{content:"";width:33px;height:12px;background:url(//rrstatic.retailrocket.net/ru-mi/widget/image_additional_right.png) bottom center no-repeat;display:inline-block;margin-top:8px}@media (min-width:820px){.rr-widget-category .Reviews-slider-arrow{display:none}}@media (max-width:1360px){.rr-widget-category .rating_right{margin-right:0}.rr-widget-category .retailrocket-item{border-bottom:0;width:25%}.rr-widget-category .retailrocket-item:nth-child(5n+5){display:none}.rr-widget-category .retailrocket-item-image img{width:100%;max-width:170px}.rr-widget-category .retailrocket-item:hover .item-rostest{right:-7px}.rr-widget-category .retailrocket-item:nth-child(4){border-right:none}}@media (max-width:820px){.rr-widget-category .rating_right{float:left;margin-left:15px}.rr-widget-category .retailrocket-item{display:inline-block!important;border-left:none!important;border-right:none!important}.rr-widget-category .retailrocket-item::before{content:none}.rr-widget-category .retailrocket-item-container{overflow:hidden}.rr-widget-category .retailrocket-item-image{width:40%;float:left}.rr-widget-category .rating,.rr-widget-category .retailrocket-item-title{width:59%;float:right}.rr-widget-category .retailrocket-item:hover .item-rostest{right:0}.rr-widget-category .retailrocket-actions{margin-top:13px}.rr-widget-category .retailrocket-actions-buy{padding:0 30px;height:36px;line-height:36px}.rr-widget-category .retailrocket-item-title span{font-size:16px}}
      </style>
      <div class="rr-widget-category retailrocket-widget-595a5d5d9872e57c20d5ac00">
        <div class="retailrocket-container">
          <header class="retailrocket-widgettitle"> <span>Хиты</span> </header>
          <div class="retailrocket-items-container">
            <div class="retailrocket-items">
              {%for product in collection.products%}
                {%if product.properties.label.characteristics[0].name == "Хит продаж" %}
                  {%assign products_sale = products_sale | plus: 1%}
                  {% if products_sale <= 5 %}
                    <div class="retailrocket-item">
                      <div class="retailrocket-item-container">
                        {%if product.old_price%}<div class="item-discount-wrapper"> -{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}% </div>{%endif%}
                        <a class="retailrocket-item-info" href="{{product.url}}">
                          <div class="retailrocket-item-image">
                            <img src="{{product.first_image.compact_url}}">
                          </div>
                          <div class="retailrocket-item-title">
                          <span>{{product.title}}</span> </div>
                        </a>
                        <div class="rating">
                          <div class="rating_left">
                            <div class="rating_stars_full" style="width:{{ 90 | divided_by: 5 | times: product.rating }}px">
                              <div class="rating_full"></div>
                            </div>
                            <div class="rating_stars_empty">
                              <div class="rating_empty"></div>
                            </div>
                          </div>
                          <div class="rating_right">
                            <div class="rating_reviews">{{product.reviews | size}}</div>
                          </div>
                        </div>
                        <div class="retailrocket-price-wrapper">
                          {%if product.old_price%}<div class="item-old-price"><span class="item-old-price-value">{{product.old_price | money}}</span> </div>{%endif%}
                          <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">{{product.price | money}}</span> </div>
                        </div>
                        <nav class="retailrocket-actions">
                          <a class="retailrocket-actions-more" href="{{product.url}}"></a>
                          <a class="retailrocket-actions-buy" href="{{product.url}}"></a>
                        </nav>
                      </div>
                    </div>
                  {%else%}
                    {%break%}
                  {%endif%}
                {%else%}
                  {%continue%}
                {%endif%}
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="Reviews-slider-arrow">
          <a class="Reviews-slider-arrow-button Reviews-slider-arrow-button--prev"></a>
          <div class="Reviews-slider-arrow-dots-left"></div>
          <a class="Reviews-slider-arrow-button Reviews-slider-arrow-button--next"></a>
        </div>
      </div>

      <script type="text/javascript">
        (function(retailrocket, $) {
          'use strict';

          retailrocket.rumiCatalogPage = (function() {
            function widgetPreRender(widget, recoms, renderFn) {
              var index = 1;
              for (var i = 0; i < recoms.length; i++) {
                var recom = recoms[i];

                recoms[i].Params.Index = index;
                index++;
              }

              renderFn(recoms);
            }

            function widgetPostRender(widget) {
              var initSlider = false;

              $.getScript('//rrstatic.retailrocket.net/widget/plugins/slick/slick.min.js', function() {
                $(window).on('resize', function(e) {
                  var $windowWidth = window.innerWidth;
                  if ($windowWidth < 820) {
                    if (!initSlider) {
                      $(widget).find('.retailrocket-items').slick({
                        adaptiveHeight: true,
                        dots: false,
                        arrows: true,
                        TouchMove: true,
                        infinite: true,
                        centerPadding: '0',
                        autoplay: false,
                        speed: 300,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        swipeToSlide: true,
                        centerMode: false,
                        variableWidth: false,
                        appendDots: $(widget).find('.Reviews-slider-arrow-dots-left'),
                        appendArrows: $(widget).find('.Reviews-slider-arrow'),
                        prevArrow: $(widget).find('.Reviews-slider-arrow-button--prev'),
                        nextArrow: $(widget).find('.Reviews-slider-arrow-button--next'),
                      });

                      initSlider = true;
                    } else {
                      return false;
                    }
                  } else if ($windowWidth > 820 && initSlider) {
                    $(widget).find('.retailrocket-items').slick('unslick');
                    initSlider = false;
                  }
                }).resize();
              });
            }

            return {
              widgetPostRender: widgetPostRender,
              widgetPreRender: widgetPreRender
            }

          })();

          retailrocket.widget.render('retailrocket-widget-595a5d5d9872e57c20d5ac00');
        })(retailrocket, window.jQuery);
      </script>
    </div>
  </div>

</div>






<noindex>
{%if blog%}
  <div class="category_bottom">
    <div class="article_videos_bottom article_videos_bottom_owl" style="width: 100%;">
      <div class="article_videos_bottom_heading">Новости
        <div class="box-arrows-grey ">
          <div class="box-arrow-grey-left"></div>
          <div class="box-arrow-grey-right"></div>
        </div>
        <div class="article_videos_bottom_heading_link">
          <a href="https://ru-mi.com/blog/" rel="nofollow">Все новости</a>
        </div>
      </div>
      <div class="box-content">
        <ul class="blog_list">
          {%for article in blog.articles%}
            <li class="blog_item">
              <div class="blog_item_image">
                <a href="{{article.url}}">
                  <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="{{article.title}}" data-src="{{ article.image.large_url }}"/>
                </a>
              </div>
              <div class="blog_item_item_description">
                <div class="blog_item_item_description_bg"></div>
                <a href="{{article.url}}">{{article.title}}</a>
                <div class="blog_item_description">
                  {{article.preview | truncate: 280}} </div>
              </div>
            </li>
          {%endfor%}
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      <!--
      $(document).ready(function() {
        $('.article_videos_bottom_list').owlCarousel({
          items: 3,
          itemsDesktop: [1600, 3],
          itemsDesktopSmall: [1343, 2],
          itemsTablet: [803, 1],
          itemsMobile: [479, 1],
          navigation: false,
          pagination: false
        });

        var owl = $(".article_videos_bottom_list").data('owlCarousel');
        $('.article_videos_bottom .box-arrow-grey-left').live('click', function() {
          owl.prev();
        });
        $('.article_videos_bottom .box-arrow-grey-right').live('click', function() {
          owl.next();
        });

      });
      -->
    </script>
  </div>
{%endif%}
</noindex>

<div style="clear:left"></div>
<div class="heading_title">Вы смотрели</div>
<div class="tab_container">
  <div class="tab_content">
    <div class="you_watched product-grid_5">
      <div>
        <div class="product_bg"></div>
        <div class="product_inner">
          <div class="product_features_top">
            <div class="stickers">
              <div class="product_global">
                <div class="product_global_header">Global Version</div>
                <div class="product_global_close"></div>
                <div class="product_global_body">Global Version означает, что товар выпущен для мирового рынка, и соответствует международным стандартам качества.</div>
              </div>
              <div class="product_rostest">
                <div class="product_rostest_header"><img src="catalog/view/theme/default/image/sticker_rostest_icon.png"></div>
                <div class="product_rostest_close"></div>
                <div class="product_rostest_body">Ростест - это знак сертификации, который гарантирует, что устройство соответствует всем российским нормам и стандартам по охране окружающей среды и здоровья пользователей. Каких-либо дополнительных отличий или преимуществ перед другими
                  устройствами данный знак не предполагает.</div>
              </div>
              <div class="product_sticker_new">New!</div>
            </div>
            <div class="product_features_buttons">
              <a class="product_features_wishlist " product_id="10424"></a>
              <a class="product_features_compare " product_id="10424"></a>
            </div>
          </div>
          <meta itemprop="image" content="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/redmi_note_6_6a_6pro/redmi_note_6pro/redmi_note_6_pro-200x200.png">
          <div class="image">
            <a href="https://ru-mi.com/xiaomi-redmi-note-6-pro-3-32-gb-chernyiy-1" itemprop="url"><img class="lazyload" src="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/redmi_note_6_6a_6pro/redmi_note_6pro/redmi_note_6_pro-200x200.png" data-src="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/redmi_note_6_6a_6pro/redmi_note_6pro/redmi_note_6_pro-200x200.png"
              alt="Смартфон Xiaomi Redmi Note 6 Pro 3/32 Gb (черный)"></a>
          </div>
          <div class="name"><a href="https://ru-mi.com/xiaomi-redmi-note-6-pro-3-32-gb-chernyiy-1" itemprop="name">Смартфон Xiaomi Redmi Note 6 Pro 3/32 Gb (черный)</a></div>
          <div class="description">
            <ul>
              <li>
                <div class="attr_left"><span>Объем оперативной памяти:</span></div>
                <div class="attr_right"><span>3 ГБ</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объем встроенной памяти:</span></div>
                <div class="attr_right"><span>32 ГБ</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Процессор:</span></div>
                <div class="attr_right"><span>Qualcomm Snapdragon 636</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объём аккумулятора (mAh):</span></div>
                <div class="attr_right"><span>4000</span></div>
              </li>
            </ul>
          </div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="https://ru-mi.com/xiaomi-redmi-note-6-pro-3-32-gb-chernyiy-1/reviews">
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="https://ru-mi.com/xiaomi-redmi-note-6-pro-3-32-gb-chernyiy-1/reviews">0</a>
            </div>
          </div>
          <div class="product_bottom">
            <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB">
              <span itemprop="price">14 990 <span class="rouble"> руб.</span> </span>
            </div>
            <div class="stock"><span class="in_stock_icon">В наличии<span></span></span>
            </div>
            <div class="cart"><a onmousedown="try { rrApi.addToBasket(10424) } catch(e) {}" onclick="addToCart('10424');" class="button add_to_cart_10424 "><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
            <div class="cl_b"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product_bg"></div>
        <div class="product_inner">
          <div class="product_features_top">
            <div class="stickers">
              <div class="product_global">
                <div class="product_global_header">Global Version</div>
                <div class="product_global_close"></div>
                <div class="product_global_body">Global Version означает, что товар выпущен для мирового рынка, и соответствует международным стандартам качества.</div>
              </div>
              <div class="product_rostest">
                <div class="product_rostest_header"><img src="catalog/view/theme/default/image/sticker_rostest_icon.png"></div>
                <div class="product_rostest_close"></div>
                <div class="product_rostest_body">Ростест - это знак сертификации, который гарантирует, что устройство соответствует всем российским нормам и стандартам по охране окружающей среды и здоровья пользователей. Каких-либо дополнительных отличий или преимуществ перед другими
                  устройствами данный знак не предполагает.</div>
              </div>
              <div class="product_sticker_special">-8%</div>
              <div class="product_sticker_new">New!</div>
            </div>
            <div class="product_features_buttons">
              <a class="product_features_wishlist " product_id="10103"></a>
              <a class="product_features_compare " product_id="10103"></a>
            </div>
          </div>
          <meta itemprop="image" content="https://ru-mi.com/image/cache/data/Tovari/Aksesuari/Noutbuki/xiaomi_mi_notebook_pro2/xiaomi_mi_notebook_pro22-200x200.jpg">
          <div class="image">
            <a href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i7-8750hq-8gb-256gb-ssd-1tb-hdd-geforce-gtx-1060-6gb-chernyiy" itemprop="url"><img class="lazyload" src="https://ru-mi.com/image/cache/data/Tovari/Aksesuari/Noutbuki/xiaomi_mi_notebook_pro2/xiaomi_mi_notebook_pro22-200x200.jpg" data-src="https://ru-mi.com/image/cache/data/Tovari/Aksesuari/Noutbuki/xiaomi_mi_notebook_pro2/xiaomi_mi_notebook_pro22-200x200.jpg"
              alt="Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-8750H, 16Gb, 256Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb (черный)"></a>
          </div>
          <div class="name"><a href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i7-8750hq-8gb-256gb-ssd-1tb-hdd-geforce-gtx-1060-6gb-chernyiy" itemprop="name">Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-8750H, 16Gb, 256Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb (черный)</a></div>
          <div class="description">
            <ul>
              <li>
                <div class="attr_left"><span>Объем оперативной памяти:</span></div>
                <div class="attr_right"><span>16 ГБ</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объём аккумулятора (mAh):</span></div>
                <div class="attr_right"><span>3620</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Процессор системы:</span></div>
                <div class="attr_right"><span>Intel Core i7</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Тип матрицы:</span></div>
                <div class="attr_right"><span>IPS</span></div>
              </li>
            </ul>
          </div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i7-8750hq-8gb-256gb-ssd-1tb-hdd-geforce-gtx-1060-6gb-chernyiy/reviews">
                <div class="rating_full" style="width: 80%"></div>
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i7-8750hq-8gb-256gb-ssd-1tb-hdd-geforce-gtx-1060-6gb-chernyiy/reviews">1</a>
            </div>
          </div>
          <div class="product_bottom">
            <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB">
              <span itemprop="price" class="price-old">119990</span> <span class="price-new">109 990 <span class="rouble"> руб.</span></span>
            </div>
            <div class="stock"><span class="in_stock_icon">В наличии<span></span></span>
            </div>
            <div class="cart"><a onmousedown="try { rrApi.addToBasket(10103) } catch(e) {}" onclick="location.href='/checkout/'" class="button add_to_cart_10103 added"><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
            <div class="cl_b"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product_bg"></div>
        <div class="product_inner">
          <div class="product_features_top">
            <div class="stickers">
              <div class="product_global">
                <div class="product_global_header">Global Version</div>
                <div class="product_global_close"></div>
                <div class="product_global_body">Global Version означает, что товар выпущен для мирового рынка, и соответствует международным стандартам качества.</div>
              </div>
              <div class="product_rostest">
                <div class="product_rostest_header"><img src="catalog/view/theme/default/image/sticker_rostest_icon.png"></div>
                <div class="product_rostest_close"></div>
                <div class="product_rostest_body">Ростест - это знак сертификации, который гарантирует, что устройство соответствует всем российским нормам и стандартам по охране окружающей среды и здоровья пользователей. Каких-либо дополнительных отличий или преимуществ перед другими
                  устройствами данный знак не предполагает.</div>
              </div>
              <div class="product_sticker_special">-8%</div>
            </div>
            <div class="product_features_buttons">
              <a class="product_features_wishlist " product_id="10814"></a>
              <a class="product_features_compare " product_id="10814"></a>
            </div>
          </div>
          <meta itemprop="image" content="https://ru-mi.com/image/cache/data/Tovari/Naushnikiikolonki/bluetooth/airdots_youth_edition/airdots_belyj-200x200.jpg">
          <div class="image">
            <a href="https://ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj" itemprop="url"><img class="lazyload" src="https://ru-mi.com/image/cache/data/Tovari/Naushnikiikolonki/bluetooth/airdots_youth_edition/airdots_belyj-200x200.jpg" data-src="https://ru-mi.com/image/cache/data/Tovari/Naushnikiikolonki/bluetooth/airdots_youth_edition/airdots_belyj-200x200.jpg"
              alt="Беспроводные наушники Xiaomi Mi AirDots Youth Edition (белый) (TWSEJ02LM)"></a>
          </div>
          <div class="name"><a href="https://ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj" itemprop="name">Беспроводные наушники Xiaomi Mi AirDots Youth Edition (белый) (TWSEJ02LM)</a></div>
          <div class="description">
            <ul>
              <li>
                <div class="attr_left"><span>Тип подключения:</span></div>
                <div class="attr_right"><span>Bluetooth</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объём аккумулятора (mAh):</span></div>
                <div class="attr_right"><span>40</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Модель:</span></div>
                <div class="attr_right"><span>TWSEJ02LM</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Цвет:</span></div>
                <div class="attr_right"><span>Белый</span></div>
              </li>
            </ul>
          </div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="https://ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj/reviews">
                <div class="rating_full" style="width: 100%"></div>
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="https://ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj/reviews">6</a>
            </div>
          </div>
          <div class="product_bottom">
            <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB">
              <span itemprop="price" class="price-old">5990</span> <span class="price-new">5 490 <span class="rouble"> руб.</span></span>
            </div>
            <div class="stock"><span class="in_stock_icon">В наличии<span></span></span>
            </div>
            <div class="cart"><a onmousedown="try { rrApi.addToBasket(10814) } catch(e) {}" onclick="addToCart('10814');" class="button add_to_cart_10814 "><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
            <div class="cl_b"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product_bg"></div>
        <div class="product_inner">
          <div class="product_features_top">
            <div class="stickers">
              <div class="product_global">
                <div class="product_global_header">Global Version</div>
                <div class="product_global_close"></div>
                <div class="product_global_body">Global Version означает, что товар выпущен для мирового рынка, и соответствует международным стандартам качества.</div>
              </div>
              <div class="product_rostest">
                <div class="product_rostest_header"><img src="catalog/view/theme/default/image/sticker_rostest_icon.png"></div>
                <div class="product_rostest_close"></div>
                <div class="product_rostest_body">Ростест - это знак сертификации, который гарантирует, что устройство соответствует всем российским нормам и стандартам по охране окружающей среды и здоровья пользователей. Каких-либо дополнительных отличий или преимуществ перед другими
                  устройствами данный знак не предполагает.</div>
              </div>
              <div class="product_sticker_new">New!</div>
            </div>
            <div class="product_features_buttons">
              <a class="product_features_wishlist " product_id="10169"></a>
              <a class="product_features_compare " product_id="10169"></a>
            </div>
          </div>
          <meta itemprop="image" content="https://ru-mi.com/image/cache/data/Tovari/Gadjeti/Drugoe/kubik_rubika_xiaomi/xiaomi_giiker_magic_cube-200x200.jpg">
          <div class="image">
            <a href="https://ru-mi.com/umnyiy-kubik-rubika-xiaomi-giiker-super-cube-i3" itemprop="url"><img class="lazyload" src="https://ru-mi.com/image/cache/data/Tovari/Gadjeti/Drugoe/kubik_rubika_xiaomi/xiaomi_giiker_magic_cube-200x200.jpg" data-src="https://ru-mi.com/image/cache/data/Tovari/Gadjeti/Drugoe/kubik_rubika_xiaomi/xiaomi_giiker_magic_cube-200x200.jpg"
              alt="Умный кубик Рубика Xiaomi Giiker Super Cube i3"></a>
          </div>
          <div class="name"><a href="https://ru-mi.com/umnyiy-kubik-rubika-xiaomi-giiker-super-cube-i3" itemprop="name">Умный кубик Рубика Xiaomi Giiker Super Cube i3</a></div>
          <div class="description">
            <ul>
              <li>
                <div class="attr_left"><span>Поддержка операционных систем:</span></div>
                <div class="attr_right"><span>Android 4.4, iOS 3.0 и выше</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Модель:</span></div>
                <div class="attr_right"><span>Supercube i3</span></div>
              </li>
            </ul>
          </div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="https://ru-mi.com/umnyiy-kubik-rubika-xiaomi-giiker-super-cube-i3/reviews">
                <div class="rating_full" style="width: 100%"></div>
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="https://ru-mi.com/umnyiy-kubik-rubika-xiaomi-giiker-super-cube-i3/reviews">1</a>
            </div>
          </div>
          <div class="product_bottom">
            <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB">
              <span itemprop="price">2 790 <span class="rouble"> руб.</span> </span>
            </div>
            <div class="stock">Нет в наличии</div>
            <div class="cart"><a onclick="return false;" class="button button_unavailable"><span></span></a></div>
            <div class="cl_b"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="product_bg"></div>
        <div class="product_inner">
          <div class="product_features_top">
            <div class="stickers">
              <div class="product_global">
                <div class="product_global_header">Global Version</div>
                <div class="product_global_close"></div>
                <div class="product_global_body">Global Version означает, что товар выпущен для мирового рынка, и соответствует международным стандартам качества.</div>
              </div>
              <div class="product_rostest">
                <div class="product_rostest_header"><img src="catalog/view/theme/default/image/sticker_rostest_icon.png"></div>
                <div class="product_rostest_close"></div>
                <div class="product_rostest_body">Ростест - это знак сертификации, который гарантирует, что устройство соответствует всем российским нормам и стандартам по охране окружающей среды и здоровья пользователей. Каких-либо дополнительных отличий или преимуществ перед другими
                  устройствами данный знак не предполагает.</div>
              </div>
            </div>
            <div class="product_features_buttons">
              <a class="product_features_wishlist " product_id="11430"></a>
              <a class="product_features_compare " product_id="11430"></a>
            </div>
          </div>
          <meta itemprop="image" content="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/mi_mix3/mi_mix3_sapphire_blue-200x200.jpg">
          <div class="image">
            <a href="https://ru-mi.com/xiaomi-mi-mix-3-6-128-gb-siniy" itemprop="url"><img class="lazyload" src="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/mi_mix3/mi_mix3_sapphire_blue-200x200.jpg" data-src="https://ru-mi.com/image/cache/data/Tovari/Smartphoni/mi_mix3/mi_mix3_sapphire_blue-200x200.jpg" alt="Смартфон Xiaomi MI MIX 3 6/128 Gb (синий)"></a>
          </div>
          <div class="name"><a href="https://ru-mi.com/xiaomi-mi-mix-3-6-128-gb-siniy" itemprop="name">Смартфон Xiaomi MI MIX 3 6/128 Gb (синий)</a></div>
          <div class="description">
            <ul>
              <li>
                <div class="attr_left"><span>Объем оперативной памяти:</span></div>
                <div class="attr_right"><span>6 ГБ</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объем встроенной памяти:</span></div>
                <div class="attr_right"><span>128 ГБ</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Процессор:</span></div>
                <div class="attr_right"><span>Qualcomm Snapdragon 845</span></div>
              </li>
              <li>
                <div class="attr_left"><span>Объём аккумулятора (mAh):</span></div>
                <div class="attr_right"><span>3200</span></div>
              </li>
            </ul>
          </div>
          <div class="rating">
            <div class="rating_left">
              <a class="rating_stars" href="https://ru-mi.com/xiaomi-mi-mix-3-6-128-gb-siniy/reviews">
              </a>
            </div>
            <div class="rating_right">
              <a class="rating_reviews" href="https://ru-mi.com/xiaomi-mi-mix-3-6-128-gb-siniy/reviews">0</a>
            </div>
          </div>
          <div class="product_bottom">
            <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="RUB">
              <span itemprop="price">40 990 <span class="rouble"> руб.</span> </span>
            </div>
            <div class="stock"><span class="in_stock_icon">В наличии<span></span></span>
            </div>
            <div class="cart"><a onmousedown="try { rrApi.addToBasket(11430) } catch(e) {}" onclick="addToCart('11430');" class="button add_to_cart_11430 "><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
            <div class="cl_b"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <!--
  function display(view) {
    if (view == 'list') {
      $('#content .product-grid').addClass('product-list');
      $('#content .product-grid').removeClass('product-grid');

      $('#content .product-list > div').each(function(index, element) {
        html = '<div class="right">';

        var price = $(element).find('.price').html();
        if (price != null) {
          html += '<div class="price">' + price + '</div>';
        }
        html += '  <div class="stock">' + $(element).find('.stock').html() + '</div>';
        html += '  <div class="cart">' + $(element).find('.cart').html() + '</div>';
        html += '</div>';

        html += '<div class="left">';

        var image = $(element).find('.image').html();

        if (image != null) {
          html += '<div class="image">' + image + '</div>';
        }

        var product_features_top = $(element).find('.product_features_top').html();

        if (product_features_top != null) {
          html += '<div class="product_features_top">' + product_features_top + '</div>';
        }

        html += '  <div class="name">' + $(element).find('.name').html() + '</div>';
        var rating = $(element).find('.rating').html();

        if (rating != null) {
          html += '<div class="rating">' + rating + '</div>';
        }
        html += '  <div class="description">' + $(element).find('.description').html() + '</div>';

        html += '</div>';

        $(element).html(html);
      });

      $('.display').html('<div class="view_as_list active_view"></div> <div onclick="display(\'grid\');" class="view_as_grid"></div>');

      $.totalStorage('display', 'list');
    } else {
      $('#content .product-list').addClass('product-grid');
      $('#content .product-list').removeClass('product-list');

      $('#content .product-grid > div').each(function(index, element) {
        html = '<div class="product_bg"></div><div class="product_inner">';

        var product_features_top = $(element).find('.product_features_top').html();

        if (product_features_top != null) {
          html += '<div class="product_features_top">' + product_features_top + '</div>';
        }

        var image = $(element).find('.image').html();

        if (image != null) {
          html += '<div class="image">' + image + '</div>';
        }

        html += '<div class="name">' + $(element).find('.name').html() + '</div>';
        html += '<div class="description">' + $(element).find('.description').html() + '</div>';

        var rating = $(element).find('.rating').html();

        if (rating != null) {
          html += '<div class="rating">' + rating + '</div>';
        }

        html += '<div class="product_bottom">';

        var price = $(element).find('.price').html();

        if (price != null) {
          html += '<div class="price">' + price + '</div>';
        }
        html += '<div class="stock">' + $(element).find('.stock').html() + '</div>';

        html += '<div class="cart">' + $(element).find('.cart').html() + '</div>';
        html += '<div class="cl_b"></div>';

        html += '</div>';
        html += '</div>';

        $(element).html(html);
      });

      $('.display').html('<div onclick="display(\'list\');" class="view_as_list"></div> <div class="view_as_grid active_view"></div>');

      $.totalStorage('display', 'grid');
    }
  }

  view = $.totalStorage('display');

  if (view) {
    display(view);
  } else {
    display('grid');
  }
  //-->
</script>
<div class="cl_b"></div>
<div data-retailrocket-markup-block="588afa8765bf1917843073e5" initialized="true">
  <div class="retailrocket retailrocket-exit-intend deactivate-if-visitor-agreed-to-receive-marketing-mail retailrocket-notify-widget rumi-exit-intend2" style="display: none;" initialized="true" active="true">
    <div class="retailrocket-pop">

      <div class="retailrocket retailrocket-widget retailrocket-mailrequest-widget" id="storetrigger-mailrequest-widget" data-algorithm="mailrequest" data-number-of-items="6" data-image-width="180" data-image-height="180" data-textoverflowhidden="true" data-retailrocket-morebutton="false"
      data-retailrocket-buybutton="false" data-currency-code="RUB" data-currency-symbol="Р" data-currency-template="{0} ?" data-viewed-mail-template-ready="true" data-basket-mail-template-ready="true" data-header-text-viewed="Мы собрали все товары, которые вы смотрели, и можем отправить их на ваш e-mail, чтобы Вам не пришлось снова искать их в нашем каталоге!"
      data-header-text-basket="Мы собрали все товары, которые вы добавили в корзину, и можем отправить их на ваш e-mail, чтобы Вам не пришлось снова искать их в нашем каталоге!" data-widget-applied="true" data-rendered-list-type="related" data-number-of-rendered-items="6"
      data-rendered-items-ids="8587,10101,7724,9043,4508,8588">
        <header class="retailrocket-widgettitle"></header>
        <ul class="retailrocket-items">
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-8gb-128gb-intel-core-i7-7700hq-quad-core-chernyiy" onmousedown="retailrocket.widget.click(8587,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/8587/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> </div>
              <div class="retailrocket-item-title"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-7700hq, 8Gb, 128Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) </div>
              <div class="retailrocket-item-description"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-7700hq, 8Gb, 128Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) Наша цель – дать Вам возможность быть свободным в мире игр и посвятить себя творчеству </div>
            </a>
            <div class="retailrocket-item-old-price"> <span class="retailrocket-item-old-price-value">99990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">94990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-8gb-128gb-intel-core-i7-7700hq-quad-core-chernyiy" onmousedown="retailrocket.widget.click(8587,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-8gb-128gb-intel-core-i7-7700hq-quad-core-chernyiy" onclick="return retailrocket._widgetAddToBasket(&quot;8587&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i5-8300h-8gb-256gb-ssd-1tb-hdd-gtx1050ti-4gb-chernyiy" onmousedown="retailrocket.widget.click(10101,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/10101/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> </div>
              <div class="retailrocket-item-title"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i5-8300H, 8Gb, 256Gb SSD + 1TB HDD, GTX1050Ti 4Gb (черный) </div>
              <div class="retailrocket-item-description"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i5-8300H, 8Gb, 256Gb SSD + 1TB HDD, GTX1050Ti 4Gb (черный) Для игр и работы Наша цель – дать Вам возможность быть свободным в мире игр и посвятить себя тв </div>
            </a>
            <div class="retailrocket-item-old-price"> <span class="retailrocket-item-old-price-value">89990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">84990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i5-8300h-8gb-256gb-ssd-1tb-hdd-gtx1050ti-4gb-chernyiy" onmousedown="retailrocket.widget.click(10101,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-i5-8300h-8gb-256gb-ssd-1tb-hdd-gtx1050ti-4gb-chernyiy" onclick="return retailrocket._widgetAddToBasket(&quot;10101&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/igrovoy-noutbuk-igrovoy-noutbuk-xiaomi-mi-gaming-laptop-topovaya-versiya" onmousedown="retailrocket.widget.click(7724,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/7724/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> </div>
              <div class="retailrocket-item-title"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-7700hq, 16Gb, 256Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) </div>
              <div class="retailrocket-item-description"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i7-7700hq, 16Gb, 256Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) Наша цель – дать Вам возможность быть свободным в мире игр и посвятить себя творчеству </div>
            </a>
            <div class="retailrocket-item-old-price"> <span class="retailrocket-item-old-price-value">119990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">99990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/igrovoy-noutbuk-igrovoy-noutbuk-xiaomi-mi-gaming-laptop-topovaya-versiya" onmousedown="retailrocket.widget.click(7724,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/igrovoy-noutbuk-igrovoy-noutbuk-xiaomi-mi-gaming-laptop-topovaya-versiya" onclick="return retailrocket._widgetAddToBasket(&quot;7724&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/umnyiy-kovrik-dlya-myishi-xiaomi-mouse-pad-c-besprovodnoy-zaryadkoy" onmousedown="retailrocket.widget.click(9043,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/9043/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> </div>
              <div class="retailrocket-item-title"> Умный коврик для мыши Xiaomi Mouse Pad c беспроводной зарядкой </div>
              <div class="retailrocket-item-description"> Умный коврик для мыши Xiaomi Mouse Pad c беспроводной зарядкой Беспроводная зарядка Совместим с Mi Mix 2S Покрытие из поликарбоната 16.8 млн цветов подсветки Лауреат немецкой премии Reddot Design 2018 </div>
            </a>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">3490</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/umnyiy-kovrik-dlya-myishi-xiaomi-mouse-pad-c-besprovodnoy-zaryadkoy" onmousedown="retailrocket.widget.click(9043,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/umnyiy-kovrik-dlya-myishi-xiaomi-mouse-pad-c-besprovodnoy-zaryadkoy" onclick="return retailrocket._widgetAddToBasket(&quot;9043&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/noutbuk-xiaomi-mi-notebook-pro-15-6-16gb-256gb-intel-i7-seryiy-space-grey" onmousedown="retailrocket.widget.click(4508,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/4508/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> Xiaomi </div>
              <div class="retailrocket-item-title"> Ноутбук Xiaomi Mi Notebook Pro 15.6 (i7-8550u, 16Gb, 256Gb SSD, GeForce MX150 2Gb, серый) </div>
              <div class="retailrocket-item-description"> Ноутбук Xiaomi Mi Notebook Pro 15.6 (i7-8550u, 16Gb, 256Gb SSD, GeForce MX150 2Gb, серый) Процессор Intel Core 8-го поколения Прирост мощности до 40% Самая мощная версия ноутбука Xiaomi Mi Notebook Pr </div>
            </a>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">89990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/noutbuk-xiaomi-mi-notebook-pro-15-6-16gb-256gb-intel-i7-seryiy-space-grey" onmousedown="retailrocket.widget.click(4508,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/noutbuk-xiaomi-mi-notebook-pro-15-6-16gb-256gb-intel-i7-seryiy-space-grey" onclick="return retailrocket._widgetAddToBasket(&quot;4508&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
          <li class="retailrocket-item" style="width:180px;">
            <a class="retailrocket-item-info" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-6gb-128gb-intel-core-i5-7300hq-quad-core-chernyiy" onmousedown="retailrocket.widget.click(8588,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;) ">
              <div class="retailrocket-item-image"> <img onerror="retailrocket.widget.hideProduct(this)" src="https://cdnimg.retailrocket.net/api/1.0/partner/57d574e265bf1940b4626285/item/8588/picture/?format=png&amp;width=180&amp;height=180&amp;scale=both" style="width:180px;height:180px"></div>
              <div class="retailrocket-item-brand"> </div>
              <div class="retailrocket-item-title"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i5-7300hq, 8Gb, 128Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) </div>
              <div class="retailrocket-item-description"> Игровой ноутбук Xiaomi Mi Gaming Laptop 15.6 (i5-7300hq, 8Gb, 128Gb SSD + 1TB HDD, GeForce GTX 1060 6Gb, черный) Наша цель – дать Вам возможность быть свободным в мире игр и посвятить себя творчеству </div>
            </a>
            <div class="retailrocket-item-price"> <span class="retailrocket-item-price-value">87990</span> <span class="retailrocket-item-price-currency"></span> </div>
            <nav class="retailrocket-actions">
              <a class="retailrocket-actions-more" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-6gb-128gb-intel-core-i5-7300hq-quad-core-chernyiy" onmousedown="retailrocket.widget.click(8588,&quot;588afa8765bf1917843073e5&quot;,&quot;mailrequest&quot;)"></a>
              <a class="retailrocket-actions-buy" href="https://ru-mi.com/igrovoy-noutbuk-xiaomi-mi-gaming-laptop-15-6-6gb-128gb-intel-core-i5-7300hq-quad-core-chernyiy" onclick="return retailrocket._widgetAddToBasket(&quot;8588&quot;, &quot;&quot;)"></a>
            </nav>
          </li>
        </ul>
      </div>

      <div class="retailrocket retailrocket-subscribe-widget retailrocket-mailrequest-form rumi-exit-intend2" data-send-btn-id="retailrocket-mailrequest-from-send-btn" data-email-input-id="retailrcoket-mailrequest-form-email" data-subscribe-on-trigger-email-checkbox-id="retailrocket-subscribe-on-trigger-email"
      data-product-to-send-widget-id="storetrigger-mailrequest-widget" initialized="true">
        <div id="rr-popup-content">
          <form class="retailrocket-subscribe-form" id="rr-popup-form" onsubmit="retailrocket.ruMiExitIntent.rrSubmit(this);return false;">
            <a class="retailrocket-close close" onclick="retailrocket.exitIntendWidget.close(true)">×</a>
            <div class="retailrocket-subscribe-input-text">
              <input id="retailrcoket-mailrequest-form-email" type="email" placeholder="Введите ваш e-mail" onfocus="this.className=this.className.replace('rr-error','')">
            </div>
            <div class="retailrocket-subscribe-input-submit">
              <input id="retailrocket-subscribe-on-trigger-email" type="checkbox" checked="" style="display:none">
              <input id="retailrocket-mailrequest-from-send-btn" type="submit" value="Получить скидку">
            </div>
          </form>
          <a class="retailrocket-close but" onclick="retailrocket.exitIntendWidget.close(true)">Перейти на сайт</a>
        </div>
      </div>
      <div id="rr-popup-message">
        <a class="retailrocket-close-message" onclick="retailrocket.exitIntendWidget.close(true);retailrocket.ruMiExitIntent.closeMessage(this)">×</a>
        <div class="rr-block-left"><span>Спасибо <br>за подписку!</span></div>
      </div>
    </div>
  </div>

  <style>
    .retailrocket-mailrequest-widget {
      display: none
    }

    .retailrocket-subscribe-input-text,
    .retailrocket-subscribe-input-submit {
      width: 216px
    }

    .retailrocket-subscribe-input-text input,
    .retailrocket-subscribe-input-submit input {
      width: 100%!important;
      color: #000!important;
      height: 50px!important;
      font-size: 22px
    }

    .retailrocket-notify-widget.active {
      position: fixed;
      width: 100%;
      height: 100%;
      display: block!important
    }

    .retailrocket-notify-widget:before {
      background: rgba(0, 0, 0, 0.5);
      height: 100%!important;
      display: block;
      width: 100%;
      bottom: 0!important
    }

    .retailrocket-subscribe-widget {
      height: 100%;
      background-color: inherit!important
    }

    .retailrocket-subscribe-widget .close {
      background: url(//rrstatic.retailrocket.net/ru-mi/close.png) no-repeat;
      width: 42px!important;
      height: 42px!important;
      right: -60px;
      top: 0;
      font-size: 0;
      opacity: 1;
      position: absolute
    }

    .retailrocket-subscribe-widget .but {
      background: url(//rrstatic.retailrocket.net/ru-mi/bg_button_site.png) no-repeat 50%;
      right: 10px;
      bottom: 12px;
      padding: 6px 15px;
      font-size: 0;
      position: absolute;
      top: inherit;
      width: 148px;
      height: 33px;
    }

    .retailrocket-notify-widget.active .retailrocket-pop {
      top: 50%;
      width: 833px;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 390px;
      position: fixed
    }

    #rr-popup-message span {
      line-height: 105%;
      font-size: 28px;
      color: #515151;
      text-align: center;
      text-transform: none;
      font-family: 'Circe Regular', Sans-Serif
    }

    .rr-block-left {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin-top: 20px
    }

    #rr-popup .rr-error {
      border-color: red
    }

    #rr-popup-message {
      display: none;
      position: fixed;
      z-index: 100;
      width: 500px;
      background: url(//rrstatic.retailrocket.net/ru-mi/message.png) no-repeat;
      top: 50%;
      left: 50%;
      height: 220px;
      transform: translate(-50%, -50%)
    }

    #rr-popup-message .retailrocket-close-message {
      background: url(//rrstatic.retailrocket.net/ru-mi/close.png) no-repeat;
      width: 42px!important;
      height: 42px!important;
      right: -50px;
      top: 0;
      display: block;
      position: absolute;
      font-size: 0
    }

    .retailrocket-subscribe-widget .retailrocket-subscribe-info {
      display: block;
      text-align: left;
      color: #fff!important;
      width: 100%;
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 25px
    }

    .rumi-exit-intend2 .retailrocket-subscribe-form>* {
      float: left;
      width: 100%
    }

    .rumi-exit-intend2 .retailrocket-subscribe-form {
      top: 0;
      width: 274px;
      text-align: center;
      right: 0;
      padding: 150px 20px 0 0;
      overflow: visible
    }

    .retailrocket-widgettitle {
      background-color: #fff;
      font-size: 20px
    }

    .retailrocket-subscribe-input-text input[type=email] {
      font-size: 16px;
      padding: 12px 25px 7px;
      height: 50px;
      border-radius: 22px
    }

    .retailrocket {
      font-family: 'circe', sans-serif
    }

    .retailrocket-notify-widget {
      width: inherit
    }

    .retailrocket-subscribe-widget .retailrocket-subscribe-input-submit input[type=submit] {
      background-color: #ff6c30;
      color: #fff!important;
      text-transform: uppercase;
      height: 38px!important;
      line-height: 30px;
      border-radius: 22px;
      font-size: 16px;
      margin-top: 15px
    }

    #subscribe-on-trigger-email {
      position: relative;
      top: 0;
      opacity: 1
    }

    .check-string {
      margin-left: 20px;
      color: #000
    }

    #rr-popup-content {
      background: url(//rrstatic.retailrocket.net/ru-mi/widget/bg_popup_v3.jpg) no-repeat;
      height: 100%;
      width: 100%;
      background-color: initial;
      color: #fff;
      padding: 0 100px
    }

    .retailrocket.retailrocket-subscribe-widget.retailrocket-mailrequest-form.retailrocket-theme {
      background-color: #00959f
    }

    .retailrocket-theme form.retailrocket-subscribe-form {
      font: 16px/20px 'Myriad Pro', 'PT Sans', Arial, sans-serif
    }

    .retailrocket-theme form.retailrocket-subscribe-form .retailrocket-subscribe-input-text #storetrigger-mailrequest-form-email {
      border: 1px solid #00959f;
      color: #626262;
      background: #f7f7f7;
      border-radius: 7px;
      font-size: 16px;
      padding: 2px 7px
    }

    .retailrocket-theme form.retailrocket-subscribe-form .retailrocket-subscribe-input-submit #storetrigger-mailrequest-from-send-btn {
      background-color: #47b4bc;
      display: block;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      background: url(/bitrix/templates/bethoven_idea/images/more-arr.png) no-repeat 92% 50% #00959f;
      border: 0;
      border-top: 1px solid #00acb4;
      border-bottom: 1px solid #03838c;
      border-radius: 15px;
      cursor: pointer;
      padding: 5px 35px 5px 15px
    }

    .retailrocket-subscribe-form {
      position: absolute;
      bottom: 100px;
      color: #fff
    }

    .retailrocket-theme form.retailrocket-subscribe-form a.retailrocket-close {
      color: #fff;
      line-height: 31px
    }

    .retailrocket.retailrocket-widget.retailrocket-theme {
      font: 16px/20px 'Myriad Pro', 'PT Sans', Arial, sans-serif;
      background-color: #fff
    }

    .widgettitle {
      text-align: center;
      padding: 10px 0
    }

    .items {
      margin: 0 auto!important;
      display: table
    }

    .item {
      float: left;
      margin-right: 20px
    }

    .rumi-exit-intend2._disable {
      display: none!important
    }

    @media screen and (max-width: 1000px) {
      .retailrocket-exit-intend,
      .retailrocket {
        display: none!important;
      }
    }
  </style>

  <script>
    (function(retailrocket) {
      'use strict';

      function waitFor(exitCondition, callback) {
        var checkCount = 10;
        var timeoutms = 1000;

        (function check() {
          if (exitCondition()) {
            callback();
            return;
          }

          if (checkCount === 0) {
            return;
          }

          checkCount -= 1;
          setTimeout(check, timeoutms);
        }());
      }

      retailrocket.ruMiExitIntent = (function() {
        return {
          rrSubmit: function() {
            var inputElem = document.getElementById('retailrcoket-mailrequest-form-email');
            var emailValue = inputElem.value;
            var errorClass = 'rr-error';

            if (!retailrocket.modules.utils.isValidEmail(emailValue)) {
              inputElem.className += ' ' + errorClass;
              return;
            }

            inputElem.className = inputElem.className.replace(new RegExp('\\b' + errorClass + '\\b', 'g'), '');

            var currentDateTime = new Date();
            var hourOfMillisecs = 3600000;
            var startTimeOfCurrentYear = (new Date(currentDateTime.getFullYear(), 0, 1)).getTime();
            var currentTime = currentDateTime.getTime();
            var pastTimeOfStartCurrentYear = currentTime - startTimeOfCurrentYear;
            var hoursOfOneWeek = 168;
            var week = Math.ceil(pastTimeOfStartCurrentYear / hourOfMillisecs / hoursOfOneWeek);

            rrApi.setEmail(emailValue, {
              Week: week,
              formId: 'coupon',
              promo: 1
            });
            rrApi.welcomeSequence(emailValue);
            waitFor(
              function() {
                return ('ga' in window);
              },
              function() {
                window.ga('send', {
                  hitType: 'event',
                  eventCategory: 'Subscribe',
                  eventAction: 'send',
                  eventLabel: 'RR_pop-up'
                });
              }
            );
            document.getElementById('rr-popup-content').style.display = 'none';
            document.getElementById('rr-popup-message').style.display = 'block';

            setTimeout(function() {
              retailrocket.exitIntendWidget.close();
              document.getElementById('rr-popup-message').style.display = 'none';
            }, 2500);

            retailrocket.exitIntendWidget.close();
          },
          closeMessage: function() {
            document.getElementById('rr-popup-message').style.display = 'none';
          },
        };
      }());

      waitFor(
        function() {
          return ('ga' in window);
        },
        function() {
          window.ga('ec:addPromo', {
            id: 'RR_email_popup',
            name: 'RR_email_popup_v2 ',
          });
        }
      );

      (function() {
        var exitIntentContainer = document.querySelector('.rumi-exit-intend2');
        var isClientFromYandexMarket = (function() {
          var yamarketRX = /\butm_source=(?:yandexmarket|yamarket)\b/i;

          return yamarketRX.test(window.location.search) || yamarketRX.test(document.cookie);
        }());

        if (!isClientFromYandexMarket) {
          retailrocket.exitIntendWidget.initialize();
          retailrocket.mailRequestForm.initialize();
          retailrocket.deactivateIfAgreedToReceiveMarketingMail.initialize();
          retailrocket.widget.render();
        } else {
          exitIntentContainer.classList.add('_disable');
        }
      }());
    }(retailrocket));
  </script>
</div>
