<div class="container" style="position:static;">
  <div id="notification"></div>
  <div class="main_slider_main_container">
    <div class="slideshow_main_page">
      <div id="slideshow0" class="owl-carousel owl-carousel-main-slider">
        {% for block in block_lists.promo-slider.blocks %}
          <a class="slide_id{{forloop.index0}}" href="{{block.url}}"><img src="{{block.image}}" alt="{{block.title}}" /></a>
        {% endfor %}
      </div>
    </div>
    <script type="text/javascript">
      <!--
      $('.owl-carousel').owlCarousel({
        singleItem: true,
        autoPlay: 3000,
        autoHeight: true,
        responsive: true,
        autoHeight: true,
        navigation: true,
        pagination: true,
        stopOnHover: true,
        lazyLoad: true
      });
      $('.owl-carousel-adaptive').owlCarousel({
        singleItem: true,
        autoPlay: 3000,
        autoHeight: true,
        responsive: true,
        autoHeight: true,
        navigation: true,
        pagination: true,
        stopOnHover: true,
        lazyLoad: true
      });
      -->
    </script>
    <div class="homepage_banner">
      <div class="product-of-day">
        {%assign product_day_count = 0%}
        {% for product in collections.all.products %}
          {%if product.properties.label.characteristics[0].name == "Товар Дня" and product_day_count < 1 %}
            {%assign product_day_count = 1%}
            <div class="product_of_day">
              <span class="economy_text">Экономия</span>
              <span class="economy_price">{{product.old_price | minus: product.price | round: 0}} <span class="rouble"> руб.</span></span>
            </div>
            <div class="day_title">Товар дня</div>
            <div class="image">
              <a href="{{product.url}}"><img src="{{product.first_image.original_url}}" alt="{{product.title}}" /></a>
            </div>
            <div class="category_name">
              {{product.collections.last.title}}
            </div>
            <div class="name"><a href="{{product.url}}">{{product.title}}</a></div>
            <div class="description"></div>
            <div class="rating">
              <div class="rating_left">
                <a class="rating_stars" href="{{product.url}}">
                  <div class="rating_full" style="width: 100%"></div>
                </a>
              </div>
              <div class="rating_right">
                <a class="rating_reviews" href="{{product.url}}">{{product.reviews | size}}</a>
              </div>
            </div>
            <div class="product_bottom">
              <div class="price">
                {%if product.old_price%}<span class="price-old">{{product.old_price | round: 0}}</span>{%endif%} <span class="price-new">{{product.price | money}}</span>
              </div>
              <div class="cart"><a class="button"><span></span><div class="add_to_cart_help">Товар в корзине</div></a></div>
              <div class="cl_b"></div>
            </div>
            {%break%}
          {%endif%}
        {%endfor%}
      </div>
    </div>
  </div>
  <div class="tovars">
    <div class="rr-widget cartRelated rr-active">
      <header class="widgettitle">Акции</header>
      <ul class="items">
        {% assign products_sale = 0 %}
        {% for product in collections.all.products %}
          {%if product.old_price and product.old_price > product.price %}
            {%assign products_sale = products_sale | plus: 1%}
            {% if products_sale <= 15 %}
              <li class="item">
                <div class="block">
                  <div class="rr-header">
                    <div class="rr-labels">
                      <div class="rr-discount">
                        -{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%
                      </div>
                    </div>
                    <div class="rr-icons">
                      <a class="product_features_wishlist" product_id="9649" tabindex="-1"></a>
                      <span class="product_features_compare " product_id="9649"></span>
                    </div>
                  </div>
                  <a class="item-info" href="{{product.url}}" tabindex="-1">
                    <div class="item-image">
                      <img src="{{product.first_image.original_url}}">
                    </div>
                    <div class="item-title">{{product.title}}</div>
                  </a>
                  <div class="rating">
                    <div class="rating_left">
                      <a class="rating_stars" href="{{product.url}}" tabindex="-1">
                        {%if product.rating %}
                          <div class="rating_full stars_{{ product.rating }}"></div>
                        {%else%}
                          <div class="rating_full stars_0"></div>
                        {%endif%}
                      </a>
                    </div>
                    <div class="rating_right">
                      <a class="rating_reviews" href="{{product.url}}" tabindex="-1">{{product.reviews | size}}</a>
                    </div>
                  </div>
                  <div class="item-price-and-buy">
                    <div class="item-block-price">
                      <div class="item-old-price">
                        <span class="item-old-price-value">{{product.old_price | round: 0}}</span>
                        <span class="item-price-currency"></span>
                      </div>
                      <div class="item-price">
                        <span class="item-price-value">{{product.price | money}}</span>
                      </div>
                    </div>
                    <div class="item-actions">
                      <a class="item-actions-buy add_to_cart_9649" tabindex="-1">
                        <div class="add_to_cart_help">Товар в корзине</div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            {%else%}
              {%break%}
            {%endif%}
          {%else%}
            {%continue%}
          {%endif%}
        {%endfor%}
      </ul>
    </div>

    <div class="rr-widget cartRelated rr-active">
      <header class="widgettitle">Хиты продаж</header>
      <ul class="items">
        {% assign products_sale = 0 %}
        {% for product in collections.all.products %}
          {%if product.properties.label.characteristics[0].name == "Хит продаж" %}
            {%assign products_sale = products_sale | plus: 1%}
            {% if products_sale <= 15 %}
              <li class="item">
                <div class="block">
                  <div class="rr-header">
                    <div class="rr-labels">
                      {%if product.old_price%}
                        <div class="rr-discount">
                          -{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%
                        </div>
                      {%endif%}
                    </div>
                    <div class="rr-icons">
                      <a class="product_features_wishlist" product_id="9649" tabindex="-1"></a>
                      <span class="product_features_compare " product_id="9649"></span>
                    </div>
                  </div>
                  <a class="item-info" href="{{product.url}}" tabindex="-1">
                    <div class="item-image">
                      <img src="{{product.first_image.original_url}}">
                    </div>
                    <div class="item-title">{{product.title}}</div>
                  </a>
                  <div class="rating">
                    <div class="rating_left">
                      <a class="rating_stars" href="{{product.url}}" tabindex="-1">
                        {%if product.rating %}
                          <div class="rating_full stars_{{ product.rating }}"></div>
                        {%else%}
                          <div class="rating_full stars_0"></div>
                        {%endif%}
                      </a>
                    </div>
                    <div class="rating_right">
                      <a class="rating_reviews" href="{{product.url}}" tabindex="-1">{{product.reviews | size}}</a>
                    </div>
                  </div>
                  <div class="item-price-and-buy">
                    <div class="item-block-price">
                      {%if product.old_price%}
                        <div class="item-old-price">
                          <span class="item-old-price-value">{{product.old_price | round: 0}}</span>
                          <span class="item-price-currency"></span>
                        </div>
                      {%endif%}
                      <div class="item-price">
                        <span class="item-price-value">{{product.price | money}}</span>
                      </div>
                    </div>
                    <div class="item-actions">
                      <a class="item-actions-buy add_to_cart_9649" tabindex="-1">
                        <div class="add_to_cart_help">Товар в корзине</div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            {%else%}
              {%break%}
            {%endif%}
          {%else%}
            {%continue%}
          {%endif%}
        {%endfor%}
      </ul>
    </div>

    <div class="rr-widget cartRelated rr-active">
      <header class="widgettitle">Новинки</header>
      <ul class="items">
        {% assign products_sale = 0 %}
        {% for product in collections.all.products %}
          {%if product.properties.label.characteristics[0].name == "Новинка" %}
            {%assign products_sale = products_sale | plus: 1%}
            {% if products_sale <= 15 %}
              <li class="item">
                <div class="block">
                  <div class="rr-header">
                    <div class="rr-labels">
                      {%if product.old_price%}
                        <div class="rr-discount">
                          -{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%
                        </div>
                      {%endif%}
                    </div>
                    <div class="rr-icons">
                      <a class="product_features_wishlist" product_id="9649" tabindex="-1"></a>
                      <span class="product_features_compare " product_id="9649"></span>
                    </div>
                  </div>
                  <a class="item-info" href="{{product.url}}" tabindex="-1">
                    <div class="item-image">
                      <img src="{{product.first_image.original_url}}">
                    </div>
                    <div class="item-title">{{product.title}}</div>
                  </a>
                  <div class="rating">
                    <div class="rating_left">
                      <a class="rating_stars" href="{{product.url}}" tabindex="-1">
                        {%if product.rating %}
                          <div class="rating_full stars_{{ product.rating }}"></div>
                        {%else%}
                          <div class="rating_full stars_0"></div>
                        {%endif%}
                      </a>
                    </div>
                    <div class="rating_right">
                      <a class="rating_reviews" href="{{product.url}}" tabindex="-1">{{product.reviews | size}}</a>
                    </div>
                  </div>
                  <div class="item-price-and-buy">
                    <div class="item-block-price">
                      {%if product.old_price%}
                        <div class="item-old-price">
                          <span class="item-old-price-value">{{product.old_price | round: 0}}</span>
                          <span class="item-price-currency"></span>
                        </div>
                      {%endif%}
                      <div class="item-price">
                        <span class="item-price-value">{{product.price | money}}</span>
                      </div>
                    </div>
                    <div class="item-actions">
                      <a class="item-actions-buy add_to_cart_9649" tabindex="-1">
                        <div class="add_to_cart_help">Товар в корзине</div>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            {%else%}
              {%break%}
            {%endif%}
          {%else%}
            {%continue%}
          {%endif%}
        {%endfor%}
      </ul>
    </div>
  </div>

  <script>
    $('.items').slick({
      adaptiveHeight: true,
      dots: false,
      arrows: true,
      TouchMove: false,
      draggable: true,
      infinite: true,
      autoplay: false,
      variableWidth: true,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 1,
      swipeToSlide: true,
      nextArrow: '<a href="javascript:void(0);" class="slick-next"></a>',
      prevArrow: '<a href="javascript:void(0);" class="slick-prev"></a>',
      responsive: [{
        breakpoint: 1300,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4,
        }
      }, {
        breakpoint: 990,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
        }
      }, {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          arrows: false,
          centerMode: true
        }
      }, {
        breakpoint: 400,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          centerMode: true
        }
      }, ]
    });
  </script>


</div>
{%if block_lists.yandex-market%}
  <div class="welcome_yandex_newsletter">
    <span class="external_link welcome_yandex_market">
    <div>Рейтинг 5 из 5,<br />убедитесь сами</div>
  </span>
    <div class="welcome_newsletter">
      <div class="instagram_header">{{settings.yandex_market_title}}</div>
      <div class="instagram_underheader">{{settings.yandex_market_text}}</div>
      <div id="instafeed-gallery-feed" class="owl-carousel-instagram owl-theme gallery row no-gutter">
        {%for block in block_lists.yandex-market.blocks%}
          <a class="instagram_link instagram_link{{forloop.index}}">
            <div class="img-featured-container-main">
              <div class="img-featured-container">
                <div class="img-backdrop"></div>
                <div class="description-container">
                  <p class="caption">{{block.title}}</p>
                </div>
                <img src="{{block.image}}" large_image="{{block.image}}" class="img-responsive">
              </div>
            </div>
          </a>
        {%endfor%}

      </div>
    </div>
  </div>
  <style type="text/css">
    .instagram_popup_right_text_underdescription, .instagram_open_window {
      display: none;
    }
    .img-featured-container img {
      width: 100%;
    }
  </style>
  <script type="text/javascript">
    var owl_insta = $(".owl-carousel-instagram");

    // init owl
    $(document).ready(function() {
      owl_insta.owlCarousel({
        navigation: true
      });
    });
  </script>
{%endif%}
<div class="map_header">Наши магазины</div>
</div>
<div class="grey_map">
  <div class="bg_map"></div>
  <div class="container">
    <div class="map_block_1">
      <div class="map_block_left">
        <a href="/shops/" class="map_block_metro">Савеловская</a>
        <div class="map_block_name">ТК «Савеловский» (Компьютерный центр)</div>
        <div class="map_block_address">Москва, ул. Сущевский Вал, д.5 стр. 1
          <br />пав. F075 (1 этаж)</div>
      </div>
    </div>
    <div class="map_block_2">
      <div class="map_block_left">
        <a href="/shops/" class="map_block_metro">Багратионовская</a>
        <div class="map_block_name">Гипермолл «Горбушкин двор»</div>
        <div class="map_block_address">Москва, Багратионовский пр., д.7 к.3
          <br />пав. H2-006A (2 этаж)</div>
      </div>
    </div>
    <div class="map_block_20">
      <div class="map_block_left">
        <a href="/shops/" class="map_block_metro">Пражская</a>
        <div class="map_block_name">ТК «Электронный рай»</div>
        <div class="map_block_address">Москва, Кировоградская ул., д.15
          <br />пав. 2П-50 (1 этаж)</div>
      </div>
    </div>
    <div class="map_block_30">
      <div class="map_block_left">
        <a href="/shops/" class="map_block_town">Мытищи</a>
        <div class="map_block_name">ТЦ «Июнь»</div>
        <div class="map_block_address">Мытищи, ул. Мира, д.51
          <br />секция 3КК-17 (1 этаж)</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="box">
    <div class="box-heading"><a href="/blog/">Новости</a>
      <div class="box-arrows">
        <div class="box-arrow-left"></div>
        <div class="box-arrow-right"></div>
      </div>
      <div class="box-right-link">
        <a href="/blog/">Все новости</a>
      </div>
    </div>
    <div class="box-content">
      <ul class="blog_list">
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/xiaomi-poluchila-patent-na-dvazhdy-dyryavye-smartfony.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Xiaomi получила патент на дважды дырявые смартфоны" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/xiaomi-double-hole-display-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/xiaomi-poluchila-patent-na-dvazhdy-dyryavye-smartfony.html">Xiaomi получила патент на дважды дырявые смартфоны</a>
            <div class="blog_item_description">
              Вообще-то на рынке уже есть смартфоны, особенностью которых является наличие “дырки” в дисплее, где размещена селфи-камера. Это новая альтернатива дисплеям с вырезами, и ею уже пользуются Samsung и Huawei. Xiaomi собирается переплюнуть всех, и поможет
              ей в этом новый патент. Косвенным п </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/direktor-xiaomi-podtverdil-nalichie-trojnoj-kamery-v-mi-9.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Директор Xiaomi подтвердил наличие тройной камеры в Mi 9" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/mi-9-triple-camera-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/direktor-xiaomi-podtverdil-nalichie-trojnoj-kamery-v-mi-9.html">Директор Xiaomi подтвердил наличие тройной камеры в Mi 9</a>
            <div class="blog_item_description">
              Xiaomi любит дразнить своих фанатов тизерами новых продуктов. Ранее компания уже публиковала фотографию со смартфона с тремя камерами, о чем говорил фирменный водяной знак. А буквально пару дней назад в руках исполнительного директора компании было обнаружено
              устройство, предположительно являющеес </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/v-2019-godu-xiaomi-vypustit-eshche-odin-igrovoj-smartfon.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="В 2019 году Xiaomi выпустит еще один игровой смартфон" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/blackshark-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/v-2019-godu-xiaomi-vypustit-eshche-odin-igrovoj-smartfon.html">В 2019 году Xiaomi выпустит еще один игровой смартфон</a>
            <div class="blog_item_description">
              Китайский техногигант отлично чувствует себя на рынке, выпуская флагманы, бюджетники, отличные среднебюджетные и даже игровые смартфоны . Именно о линейки последних и о ее обновлении пойдет речь в данной статье. На данный момент в ассортименте Xiaomi
              имеется два игровых смартфона: клас </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/pervyj-gorelyj-vtoroj-zolotoj-xiaomi-poka-chetvertyj.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Первый - горелый, второй - золотой, Xiaomi - пока четвертый" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/china-economic-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/pervyj-gorelyj-vtoroj-zolotoj-xiaomi-poka-chetvertyj.html">Первый - горелый, второй - золотой, Xiaomi - пока четвертый</a>
            <div class="blog_item_description">
              Популярное исследовательское агентство IDC опубликовало отчет за четвертый квартал 2018 года, в котором включило общие продажи за весь календарный 2018 год. Мировые продажи смартфонов падают, однако некоторых производителей это совсем не заботит. Разберемся
              в отчете IDC вместе. За четвер </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/ty-sushi-sushi-sushi-vmeste-s-fenom-xiaomi.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Ты суши́, суши́, суши́. Вместе с феном Xiaomi" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/soc-anios-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/ty-sushi-sushi-sushi-vmeste-s-fenom-xiaomi.html">Ты суши́, суши́, суши́. Вместе с феном Xiaomi</a>
            <div class="blog_item_description">
              Да-да, все знают, что Xiaomi выпускает гаджеты почти во всех сферах и все равно многие из наших читателей впервые узнают о том, что одно из подразделений компании занимается разработкой фенов. Об одном из наиболее удачных таких мы расскажем в данном материале!
              Название Soocare Anions сра </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/podrobnosti-o-gryadushchih-fabletah-mi-max-4-i-i-ne-tolko.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Подробности о грядущих фаблетах Mi Max 4 и.. и не только" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/02/mi-max-4-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/podrobnosti-o-gryadushchih-fabletah-mi-max-4-i-i-ne-tolko.html">Подробности о грядущих фаблетах Mi Max 4 и.. и не только</a>
            <div class="blog_item_description">
              Огромные смартфоны из линейки Xiaomi Mi Max обычно выпускаются компанией во втором квартале каждого года. Впрочем, это никак не мешает уже сейчас начать получать о новинках некоторые подробности. Например, новинки будет целых две. В китайской социальной
              сети Weibo были слиты подробности </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/xiaomi-rabotaet-nad-smartfonom-s-pentakameroj.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Xiaomi работает над смартфоном с пентакамерой" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/01/mi-penta-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/xiaomi-rabotaet-nad-smartfonom-s-pentakameroj.html">Xiaomi работает над смартфоном с пентакамерой</a>
            <div class="blog_item_description">
              Тенденция к росту количества камер кажется смешной и нелепой, однако мы уже сейчас можем встретить смартфоны с 4 модулями основной камеры. К слову, грядущая Nokia 9 должна получить пентамодуль камеры (с 5 датчиками). Ничего удивительного, что над похожим
              смартфоном работает и Xiaomi. Из </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/ocherednoj-opros-xiaomi-pogovorim-o-dizajne.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Очередной опрос Xiaomi: поговорим о дизайне" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/01/new-design-redmi-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/ocherednoj-opros-xiaomi-pogovorim-o-dizajne.html">Очередной опрос Xiaomi: поговорим о дизайне</a>
            <div class="blog_item_description">
              Вчера вечером президент Redmi Лу Вайбинг стал инициатором нового опроса, в котором предложил пользователям выбрать лучший дизайн дисплея для новых смартфонов бренда. Что из этого вышло - читайте в нашем материале! Среди нескольких вариантов наибольшее
              внимание было отдано дизайну с полно </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/samyj-deshevyj-smartfon-ot-xiaomi-oficialno-predstavlen.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="Самый дешевый смартфон от Xiaomi официально представлен!" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/01/redmi-go-logo-new-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/samyj-deshevyj-smartfon-ot-xiaomi-oficialno-predstavlen.html">Самый дешевый смартфон от Xiaomi официально представлен!</a>
            <div class="blog_item_description">
              Первый смартфон от Xiaomi на базе операционной системы Android Go выпущен официально. Из коробки смартфон работает на Android 8.1 Oreo (Go версия), а для покупки доступен черный и голубой цвета. Встречайте - Redmi Go! Гаджет оснащен скромным по меркам
              современных фаблетов дисплеем с диаг </div>
          </div>
        </li>
        <li class="blog_item">
          <div class="blog_item_image">
            <a href="/blog/news/v-novom-smartfone-ot-redmi-budet-ustanovlena-ogromnaya-batareya.html"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" alt="В новом смартфоне от Redmi будет установлена огромная батарея" data-src="https://ru-mi.com/image/cache/blog_downloads/2019/01/redmi-new-battery-logo-256x193.jpg"
              /></a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="/blog/news/v-novom-smartfone-ot-redmi-budet-ustanovlena-ogromnaya-batareya.html">В новом смартфоне от Redmi будет установлена огромная батарея</a>
            <div class="blog_item_description">
              В социальной сети Weibo не останавливаются опросы фанатов компании ее руководством о различных аспектах, которые бы пользователи хотели увидеть или изменить в продуктах Xiaomi. По всей видимости, компания пытается прислушаться к своей аудитории, тем самым
              получив больше симпатий от преданных фанат </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.blog_list').owlCarousel({
        items: 5, //10 изображений на 1000px
        itemsDesktopSmall: [1343, 4], // 3 изображения между 900px и 601px
        itemsMobile: [820, 1],
        navigation: false,
        pagination: false
      });
      var owl = $(".blog_list").data('owlCarousel');
      $('.box-arrow-left').live('click', function() {
        owl.prev();
      });
      $('.box-arrow-right').live('click', function() {
        owl.next();
      });
    });
  </script>
  <div class="box">
    <div class="box-heading">Видеообзоры
      <div class="box-right-link">
        <a href="https://www.youtube.com/channel/UCvK29FNCSg46Eik86viJtjQ" target="_blank">Все видеообзоры</a>
      </div>
    </div>
    <div class="box-content">
      <ul class="blog_list">
        <li class="blog_item video_item">
          <div class="blog_item_image">
            <a href="https://www.youtube.com/embed/UJWNnRv9sL8?rel=0&wmode=transparent" class="videolink">
              <img class="lazyload" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="https://ru-mi.com/image/cache/video_downloads/UJWNnRv9sL8-256x192.jpg" title="Обзор фена Xiaomi Soocare Anions" alt="Обзор фена Xiaomi Soocare Anions"
              />
              <span class="play"></span>
            </a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="https://www.youtube.com/embed/UJWNnRv9sL8?rel=0&wmode=transparent" class="videolink">Обзор фена Xiaomi Soocare Anions</a>
            <div class="blog_item_description">
              Классный фен от XIaomi с эффектом ионизации. С ним ваши волосы станут «гладкими и шелковистыми»! Шутка. Хотя есть доля правды. Чтобы узнать подробнее, смотрите обзор.
            </div>
          </div>
        </li>
        <li class="blog_item video_item">
          <div class="blog_item_image">
            <a href="https://www.youtube.com/embed/A8yuZTAsNm4?rel=0&wmode=transparent" class="videolink">
              <img class="lazyload" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="https://ru-mi.com/image/cache/video_downloads/A8yuZTAsNm4-256x192.jpg" title="Обзор-разбор увлажнителя воздуха Xiaomi Air Humidifier 2" alt="Обзор-разбор увлажнителя воздуха Xiaomi Air Humidifier 2"
              />
              <span class="play"></span>
            </a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="https://www.youtube.com/embed/A8yuZTAsNm4?rel=0&wmode=transparent" class="videolink">Обзор-разбор увлажнителя воздуха Xiaomi Air Humidifier 2</a>
            <div class="blog_item_description">
              Увлажнитель воздуха — это полезная штука дома. А если он ещё и моет воздух, то — вдвойне! Именно такой новый гаджет от Xiaomi. Он обрабатывает воздух в небольшой квартире, делая его приятнее и чище. При этом не требует специальных фильтров.
            </div>
          </div>
        </li>
        <li class="blog_item video_item">
          <div class="blog_item_image">
            <a href="https://www.youtube.com/embed/_Eyc9uNCe2A?rel=0&wmode=transparent" class="videolink">
              <img class="lazyload" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="https://ru-mi.com/image/cache/video_downloads/_Eyc9uNCe2A-256x192.jpg" title="Детальный обзор Xiaomi Mi Max 3" alt="Детальный обзор Xiaomi Mi Max 3"
              />
              <span class="play"></span>
            </a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="https://www.youtube.com/embed/_Eyc9uNCe2A?rel=0&wmode=transparent" class="videolink">Детальный обзор Xiaomi Mi Max 3</a>
            <div class="blog_item_description">
              Mi Max 3 — это один из лидеров среди смартфонов Xiaomi по размеру дисплея. Целых 6,9 дюйма! При этом есть мозный аккумулятор. В результате получается отличный аппарат для просмотра видео, серфинга и работы.&nbsp;
            </div>
          </div>
        </li>
        <li class="blog_item video_item">
          <div class="blog_item_image">
            <a href="https://www.youtube.com/embed/0YJvkr_tZgQ?rel=0&wmode=transparent" class="videolink">
              <img class="lazyload" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="https://ru-mi.com/image/cache/video_downloads/0YJvkr_tZgQ-256x192.jpg" title="360° камеры Xiaomi — ТОП 3" alt="360° камеры Xiaomi — ТОП 3" />
              <span class="play"></span>
            </a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="https://www.youtube.com/embed/0YJvkr_tZgQ?rel=0&wmode=transparent" class="videolink">360° камеры Xiaomi — ТОП 3</a>
            <div class="blog_item_description">
              IP-камера с обзором на 360° от Xiaomi — это полезный в хозяйстве гаджет. Его можно поставить в хорошее место и без дополнительного оборудования видеть всё, что происходит вокруг, когда вас нет рядом. Достаточно камеры, интернета и смартфона.
            </div>
          </div>
        </li>
        <li class="blog_item video_item">
          <div class="blog_item_image">
            <a href="https://www.youtube.com/embed/oQWp6QfCIek?rel=0&wmode=transparent" class="videolink">
              <img class="lazyload" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src="https://ru-mi.com/image/cache/video_downloads/oQWp6QfCIek-256x192.jpg" title="Топ 3 IP-камер Xiaomi" alt="Топ 3 IP-камер Xiaomi" />
              <span class="play"></span>
            </a>
          </div>
          <div class="blog_item_item_description">
            <div class="blog_item_item_description_bg"></div>
            <a href="https://www.youtube.com/embed/oQWp6QfCIek?rel=0&wmode=transparent" class="videolink">Топ 3 IP-камер Xiaomi</a>
            <div class="blog_item_description">
              IP-камеры — это полезный товар. С их помощью можно посмотреть, что происходит дома, в офисе или на даче. При этом не нужно сложно оборудование. Достаточно: камеры, доступа в интернет и приложения на своём смартфоне. Какую камеру Xiaomi стоит выбрать,
              смотрите в этом обзоре.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="welcome">
    <div class="welcome_left">
      <div class="welcome_text">
        <h1 style="color: rgb(255, 108, 48); font-family: Roboto, Arial, Helvetica, sans-serif; margin-top: 0px; margin-bottom: 20px; font-size: 25px;">Фирменный интернет-магазин официальной техники и аксессуаров&nbsp;Xiaomi в Москве</h1>

        <div style="color: rgb(108, 112, 129); font-family: Roboto, Arial, Helvetica, sans-serif; font-size: 15px;">
          <p><span style="font-size:14px;">Китайский производитель приобрёл известность в России благодаря сочетанию в своей продукции: лаконичного дизайн, качественного материала и многофункциональности. В начале 2015 года было реализовано около 35 миллионов моделей смартфонов по всему миру, и компания приобрела мировую известность. Научно-исследовательский штаб ведёт свои разработки в сфере технологий и следует простому кредо - высокие технологии для всех!</span></p>

          <p><span style="font-size:14px;">На официальном сайте магазина Xiaomi представленны оригинальные товары. Каждая модель - продукт тщательной разработки и обладает множеством достоинств; Смартфоны, планшеты, камеры и телевизоры имеют интуитивно понятный интерфейс и систему управления. Все новинки представлены в каталоге сайта!</span></p>

          <p><span style="font-size:14px;">Фирменный магазин ru-mi.com реализует официальную продукцию от Xiaomi, среди которой вы найдете девайсы суббрендов: Mijia, ZMi, XiaoYi, 1MORE, YI и другие. Мы заслужили свою репутацию высоким качеством оказываемых услуг!</span></p>

          <h2><span style="font-size:18px;">Интернет-магазин, заслуживающий внимания!</span></h2>

          <p><span style="font-size:14px;">На страницах сайта «Румиком» вы найдёте последние новинки и популярную продукцию компании:</span></p>

          <ul>
            <li><span style="font-size:14px;">Если вы находитесь в Москве или области, протестировать понравившийся гаджет можно лично в нашем шоу-руме.</span></li>
            <li><span style="font-size:14px;">Огромный ассортимент любых&nbsp;товаров Xiaomi</span></li>
            <li><span style="font-size: 14px;">Отличные варианты гарантия.</span></li>
            <li><span style="font-size:14px;">Доставка по Москве выполняется курьерской службой, по России – надёжными транспортными компаниями.</span></li>
            <li><span style="font-size:14px;">Доступен самовывоз.</span></li>
            <li><span style="font-size:14px;">Постоянным покупателям скидки и бонусы.</span></li>
          </ul>

          <p><span style="font-size:14px;">Товары, представленные на сайте, имеют сертификаты качества и являются оригинальной продукцией Mi. Мы работаем с собственным складом в Москве, на котором доступны все позиции представленные на сайте; наш call центр готов оказать всесторонную поддержку нашим постоянным и будущим клиентам, рассказав всю необходимую информацию о товарах!</span></p>
        </div>
        <div class="welcome_show_all"><span>показать полностью</span></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      var show_welcome_bottom = 1;
      var show_welcome_arrow = 0;
      var welcome_show_all_height = $('.welcome_text').height();
      $('.welcome_text').height('190px');
      $('.welcome_show_all span').live('click', function() {
        if (show_welcome_bottom == 1) {
          show_welcome_bottom = 0;
          if (show_welcome_arrow == 0) {
            $(".welcome .welcome_text").animate({
              "padding-bottom": "80px",
              "height": welcome_show_all_height
            }, 200, function() {
              show_welcome_bottom = 1;
            });
            $('.welcome_show_all span').text('скрыть');
            $('.welcome_show_all span').addClass('welcome_show_all_active');
            show_welcome_arrow = 1;
          } else {
            $(".welcome .welcome_text").animate({
              "padding-bottom": "50px",
              "height": "190px"
            }, 200, function() {
              show_welcome_bottom = 1;
            });
            show_welcome_arrow = 0;
            $('.welcome_show_all span').text('показать полностью');
            $('.welcome_show_all span').removeClass('welcome_show_all_active');
          }
        }
      });
    });
  </script>
  <div class="cl_b"></div>
  <div data-retailrocket-markup-block="588afa8765bf1917843073e5"></div>
</div>
