<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>
  {% include "system_head" %}
  <meta name="viewport" content="initial-scale=1.0,width=device-width" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="{{ 'custom.css' | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="https://ru-mi.com/catalog/view/theme/default/stylesheet/stylesheet.css?v=36" />
  <link rel="stylesheet" type="text/css" href="{{ 'adaptive.css' | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'fonts.css' | asset_url }}" />
  <script type="text/javascript" src="{{ 'jquery-1.7.1.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery-ui-1.8.16.custom.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.cookie.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.suggestions.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.ui.touch-punch.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'dadata.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.maskedinput.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'stopsovetnik.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'jquery.lazyload.min.js' | asset_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui-1.8.16.custom.css' | asset_url }}" />
  <script type="text/javascript" src="{{ 'common.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'owl.carousel-min.js' | asset_url }}"></script>
  <script src="{{ 'ee_tracking.js' | asset_url }}" type="text/javascript"></script>
  <script src="{{ 'instafeed.min.js' | asset_url }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ 'livesearch.js' | asset_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ 'livesearch.css' | asset_url }}" />
  <script type="text/javascript" src="{{ 'is.mobile.js' | asset_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ 'suggestions.css' | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'owl.carousel.css' | asset_url }}" />
  <script type="text/javascript" src="http://rrstatic.retailrocket.net/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
  <link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
</head>

<body>
  <div id="go_top"></div>
  <div id="fotorama_main"></div>
  <div class="background_adaptive_filter"></div>
  <div class="grey_bg"></div>
  <div id="header">
    <div class="container">
      <div class="header_top_adaptive_menu">
        <span>Меню</span>
      </div>
      <div class="header_top_adaptive_menu_inner">
        <div class="header_top_adaptive_menu_closed">
          <span>Меню</span>
          <div class="header_top_adaptive_menu_go_close"></div>
        </div>
        <div class="header_top_adaptive_menu_inner_links">
          <a href="/shops/">Магазины</a>
          <a href="/contact/">Контакты</a>
          <a href="/infopage/">Доставка и оплата</a>
          <a href="/dostavka">Гарантия</a>
          <a href="/specials/">Скидки</a>
          <a href="/about">О компании</a>
        </div>
      </div>
    </div>
    <div class="header_top_adaptive">
    </div>
    <div id="header_middle">
      <div class="container">
        <div id="logo">
          <a href="/">
            <img src="{{'logotype.jpg' | asset_url}}" title="{{account.title}}" alt="{{account.title}}" style="max-width: 200px; max-height: 50px;" />
          </a>
        </div>
        <a class="rumi_shops_link" href="/shops/"><span>Магазины</span></a>
        <form action="{{ search_url }}" method="get" id="search">
          <button class="button-search" style="border: 0px solid transparent;"></button>
          <div class="search-close"></div>
          <input type="search" name="q" placeholder="Поиск по товарам, например Xiaomi" value="{{ search.query }}" />
        </form>
        <div id="search_adaptive_icon"></div>
        <div id="header_phones">
          <a href="tel:{{settings.telephone_number | remove: " " | remove: "(" | remove: ")" }}"><span class="phone_top">{{settings.telephone_number}}</span></a>
          <div class="everyday_text">{{settings.time}}<span class="callback_button"><span>Обратный звонок</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="search_adaptive_line">
      <div class="container">
        <div id="search_adaptive">
          <button class="button-search2" style="border: 0px solid transparent;"></button>
          <div class="search-close2"></div>
          <input type="text" name="search2" placeholder="Поиск по товарам, например Xiaomi" value="" />
        </div>
      </div>
    </div>
    <div id="header_menu">
      <div class="container">
        <div id="menu_categories">
          <div id="menu_categories_selector"><span>Каталог товаров</span></div>
          <div id="menu" style='display: none;'>
            <ul>
              {% for collection in collections %}
                <li>
                  <a href="{{ collection.url }}" id="collection_id{{collection.id}}" class="{{collection.seo_description | strip_html}} main_menu non_opened">{{ collection.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div id="header_middle_menu">
          {% for link in linklists.main-menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <a class="header_wishlist non_active" href="/wishlist/"><span></span></a>
        <a class="header_compare non_active" href="/compare-products/"><span></span></a>
        <div id="cart">
          <div class="heading">
            <a title="Корзина покупок"><span id="cart-total"><span class="cart_counter non_active">0 </span>Ваша корзина пуста</span></a>
          </div>
          <div class="content">
            <div class="empty">В корзине пусто!</div>
          </div>
        </div>
      </div>
    </div>
  </div>

{{ content_for_layout }}

  <div class="advantages_bottom_rumi">
    <div class="container">
      <div class="advantages_bottom_container_rumi">
        <a class="advantages_bottom_element_rumi advantage_1_rumi" href="https://market.yandex.ru/shop/273957/reviews?sort_by=date" target="_blank">
          <div class="advantages_bottom_element_rumi_header">Супер
            <br />репутация</div>
          <div class="advantages_bottom_element_rumi_text">Более 6 000 положительных
            <br />отзывов на Яндекс.Маркете</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_2_rumi" href="/dostavka">
          <div class="advantages_bottom_element_rumi_header">Удобная
            <br />доставка</div>
          <div class="advantages_bottom_element_rumi_text">Более 3 500 пунктов
            <br />самовывоза по всей России</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_3_rumi" href="/mibonus">
          <div class="advantages_bottom_element_rumi_header">Экономия
            <br />с MI-бонусами</div>
          <div class="advantages_bottom_element_rumi_text">Оплата от 10 до 100% заказа
            <br />специальными Mi-бонусами</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_4_rumi" href="https://vk.com/rumicomrussia" target="_blank">
          <div class="advantages_bottom_element_rumi_header">Много
            <br />фанатов</div>
          <div class="advantages_bottom_element_rumi_text">Живые обсуждения
            <br />в наших группах</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_5_rumi" href="/guaranty">
          <div class="advantages_bottom_element_rumi_header">Надёжный
            <br />сервисный центр</div>
          <div class="advantages_bottom_element_rumi_text">Собственный гарантийный
            <br />центр, если что-то сломается</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="advantages_bottom_rumi_adaptive">
    <div class="container">
      <div class="advantages_bottom_container_rumi">
        <a class="advantages_bottom_element_rumi advantage_1_rumi" href="https://market.yandex.ru/shop/273957/reviews?sort_by=date" target="_blank">
          <div class="advantages_bottom_element_rumi_header">Супер
            <br />репутация</div>
          <div class="advantages_bottom_element_rumi_text">Более 6 000 положительных
            <br />отзывов на Яндекс.Маркете</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_2_rumi" href="/dostavka">
          <div class="advantages_bottom_element_rumi_header">Удобная
            <br />доставка</div>
          <div class="advantages_bottom_element_rumi_text">Более 3 500 пунктов
            <br />самовывоза по всей России</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_3_rumi" href="/mibonus">
          <div class="advantages_bottom_element_rumi_header">Экономия
            <br />с MI-бонусами</div>
          <div class="advantages_bottom_element_rumi_text">Оплата от 10 до 100% заказа
            <br />специальными Mi-бонусами</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_4_rumi" href="https://vk.com/rumicomrussia" target="_blank">
          <div class="advantages_bottom_element_rumi_header">Много
            <br />фанатов</div>
          <div class="advantages_bottom_element_rumi_text">Живые обсуждения
            <br />в наших группах</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
        <a class="advantages_bottom_element_rumi advantage_5_rumi" href="/guaranty">
          <div class="advantages_bottom_element_rumi_header">Надёжный
            <br />сервисный центр</div>
          <div class="advantages_bottom_element_rumi_text">Собственный гарантийный
            <br />центр, если что-то сломается</div>
          <div class="advantages_bottom_element_rumi_image"></div>
        </a>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    <!--
    $(document).ready(function() {
      $('.advantages_bottom_rumi_adaptive .advantages_bottom_container_rumi').owlCarousel({
        singleItem: true,
        autoHeight: true,
        responsive: true,
        autoHeight: true,
        navigation: false,
        pagination: true,
      });
    });
    -->
  </script>

  <div class="instagram_bg"></div>
  <div class="instagram_popup">
    <div class="instagram_popup_close"></div>
    <div class="instagram_popup_left">
      <img src="" />
    </div>
    <div class="instagram_popup_right">
      <div class="instagram_popup_right_text">
        <div class="instagram_popup_right_text_user"></div>
        <div class="instagram_popup_right_text_description"></div>
        <div class="instagram_popup_right_text_underdescription">
          <span class="instagram_popup_right_text_likes"></span>
          <span class="instagram_popup_right_text_comments"></span>
        </div>
        <a href="#" class="instagram_open_window" target="_blank">Открыть в Instagram</a>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.instagram_link').live('click', function() {
      var image = $(this).find('.img-responsive').attr('large_image');
      var caption = $(this).find('.caption').html();
      var userpic = $(this).find('.userinfo').html();
      var likes = $(this).find('.likes').text();
      var comments = $(this).find('.comments').text();
      var link = $(this).find('.link').html();
      $('.instagram_popup_left img').attr('src', image);
      $('.instagram_popup_right_text_user').html(userpic);
      $('.instagram_popup_right_text_description').html(caption);
      $('.instagram_popup_right_text_likes').html(likes);
      $('.instagram_popup_right_text_comments').html(comments);
      $('.instagram_open_window').attr('href', link);

      $('.instagram_bg').css('display', 'block');
      $('.instagram_popup').css('display', 'block');
      return false;
    });
  </script>
  <noindex>
    <div class="mail_bottom">
      <div class="mail_bottom_bg"></div>
      <div class="mail_bottom_content">
        <div class="container">
          <div class="mail_footer_logo"></div>
          <div class="mail_footer_text">
            <span class="mail_footer_text_main">Будь в курсе последних предложений</span>
            <span class="mail_footer_text_sub">Подпишись и получай информацию об акциях и скидках</span>
          </div>
          <div class="mail_footer_inputspace">
            <input type="text" id="mail_footer_button" placeholder="Введите ваш e-mail" onblur="var regex = /^([a-zA-Z0-9_.+-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;if(regex.test(this.value)) { try {rrApi.setEmail(this.value, {send_code: false});}catch(e){}}"
            />
          </div>
          <div class="mail_footer_button"><span>Подписаться</span></div>
        </div>
      </div>
      <div class="mail_bottom_bg"></div>
    </div>
  </noindex>
  <div id="footer">
    <div class="footer_line"></div>
    <div class="container">
      <div class="footer_column footer_column_1">
        <div id="footer_logo">
          <img class="footer_normal_logo" src="https://ru-mi.com/image/data/logo_footer.png" title="«Румиком» — фирменный магазин Xiaomi" alt="«Румиком» — фирменный магазин Xiaomi" />
          <img class="footer_adaptive_logo" src="https://ru-mi.com/image/data/logo_firm.png" title="«Румиком» — фирменный магазин Xiaomi" alt="«Румиком» — фирменный магазин Xiaomi" />
          <!--<div class="footer_payment"><a href="/index.php?route=information/information&amp;information_id=8"><img alt="Способы оплаты" src="image/data/payment_paykeeper.png"></a></div>-->
        </div>
      </div>
      <div class="footer_column footer_column_2">
        <div class="footer_column_header">Покупателям</div>
        <ul>
          <li><a href="/dostavka">Доставка</a></li>
          <li><a href="/oplata">Оплата</a></li>
          <li><a href="/specials/">Акции</a></li>
          <li><a href="/mibonus">Ми-бонусы</a></li>
          <li><a href="/guaranty">Гарантия</a></li>
          <li><a href="/publicoferta">Оферта</a></li>
        </ul>
      </div>
      <div class="footer_column footer_column_3">
        <div class="footer_column_header">Каталог</div>
        <ul>
          <li><a href="/smartphones/">Смартфоны Xiaomi</a></li>
          <li><a href="/device/">Гаджеты и устройства</a></li>
          <li><a href="/transport/">Электронный транспорт</a></li>
          <li><a href="/naushniki-i-kolonki/">Наушники и колонки</a></li>
          <li><a href="/accessories/">Аксессуары</a></li>
          <li><a href="/brands/">Бренды</a></li>
        </ul>
      </div>
      <div class="footer_column footer_column_4">
        <div class="footer_column_header">О компании</div>
        <ul>
          <li><a href="/contact/">Контакты</a></li>
          <li><a href="/contact/">Магазины «Румиком»</a></li>
          <li><a href="/about">Ценности «Румиком»</a></li>
          <li><a href="/testimonial/">Отзывы о магазине</a></li>
          <li><a href="/blog/">Новости Xiaomi</a></li>
          <li>
            <noindex><a href="http://service-xiaomi.com/" target="_blank" rel="nofollow">Сервисный центр Xiaomi</a></noindex>
          </li>
        </ul>
      </div>
      <div class="yandex_market_bottom_adaptive">
        <div class="yandex_market_bottom_adaptive_line"></div>
        <span class="external_link yandex_market_bottom" data_link="https://market.yandex.ru/shop/273957/reviews?sort_by=date">
			<img alt="Способы оплаты" src="https://ru-mi.com/catalog/view/theme/default/image/5star_bottom.png" />
				<div>Нам доверяют</div>
			</span>
      </div>
      <div class="footer_bottom">
        <script type="application/ld+json">
          { "@context" : "http://schema.org", "@type" : "Store", "name" : "Румиком", "priceRange" : 6000, "image" : "https://ru-mi.com/image/data/logo_firm.png", "telephone" : "+7-495-120-2325", "url" : "https://ru-mi.com", "openingHours": "Mo-Su 10:00-21:00",
          "sameAs" : [ "https://vk.com/rumicomrussia", "https://www.facebook.com/rumicomrussia/", "https://twitter.com/rumicomrussia", "https://ok.ru/group/52288056197276", "https://www.youtube.com/channel/UCvK29FNCSg46Eik86viJtjQ", "https://plus.google.com/+Rumicom"
          ], "address": { "@type": "PostalAddress", "addressLocality": "Москва", "postalCode": "127018", "streetAddress": "Сущевский Вал, д.5 стр. 1" }, "contactPoint" : [{ "@type" : "ContactPoint", "telephone" : "+7-495-120-2325", "contactType" : "sales"
          }] }
        </script>
        <div class="footer_bottom_copyright">
          Copyright © 2013–2019 ru-mi.com
          <br /> Все права защищены. </div>
        <div class="footer_bottom_social">
          <div class="contact_block_social" style="padding: 0;">
            <a href="https://www.instagram.com/rumicomrussia/" class="contact_in" target="_blank"></a>
            <a href="https://vk.com/rumicomrussia" class="contact_vk" target="_blank"></a>
            <a href="https://www.youtube.com/channel/UCvK29FNCSg46Eik86viJtjQ" class="contact_yt" target="_blank"></a>
            <a href="https://t.me/joinchat/AAAAAEQXBI2_KCqGAIEV-Q" class="contact_tg" target="_blank"></a>
            <a href="https://ok.ru/group/52288056197276" class="contact_ok" target="_blank"></a>
          </div>
        </div>
        <div class="footer_bottom_text">
          Любое использование либо копирование материалов или подборки материалов сайта,
          <br /> элементов дизайна и оформления может осуществляться лишь с разрешения автора
          <br /> (правообладателя) и только при наличии ссылки на https://ru-mi.com </div>
      </div>
    </div>
    <noindex>
      <div class="product_grey_bg"></div>
      <div class="product_popup">
        <div class="product_popup_line"></div>
        <div class="product_popup_header">Вы добавили товар в корзину
          <div class="product_popup_close"></div>
        </div>
        <div class="product_show_info">
        </div>
        <div class="product_show_buttons">
          <a href="#" class="products_also">Продолжить покупки</a>
          <a href="/checkout/" class="button" style='color: #fff;'><span>Оформить заказ</span></a>
          <div class="cl_b"></div>
        </div>
        <div data-retailrocket-markup-block="595a5dcb9872e57c20d5ac01" data-hide-market="false" data-product-id="" class="rr_block rrblock_product"></div>
      </div>
      <div class="mail_grey_bg"></div>
      <div class="mail_popup">
        <div class="mail_popup_line"></div>
        <div class="mail_popup_header">Подписка
          <div class="mail_popup_close"></div>
        </div>
        <div class="mail_show_info">
        </div>
      </div>
      <div class="popup_grey_bg"></div>
      <div class="popup">
        <div class="popup_line"></div>
        <div class="popup_header">
          <div class="popup_close"></div>
        </div>
        <div class="show_info">
        </div>
      </div>
      <div class="videopopup_grey_bg"></div>
      <div class="videopopup">
        <div class="videopopup_header">
          <div class="videopopup_close"></div>
        </div>
        <div class="show_info">
          <iframe frameborder="0" class="video_iframe"></iframe>
        </div>
      </div>
      <div class="shippingpopup_grey_bg"></div>
      <div class="shippingpopup">
        <div class="shippingpopup_header">Сроки и стоимость доставки
          <div class="shippingpopup_close"></div>
        </div>
        <div class="show_info">

        </div>
      </div>
      <div class="callback_grey_bg"></div>
      <div class="callback_popup">
        <div class="callback_popup_line"></div>
        <div class="callback_popup_header">Обратный звонок
          <div class="callback_popup_close"></div>
        </div>
        <div class="callback_show_info">
          <div class="callback_show_text">
            Введите номер телефона:
          </div>
          <div class="callback_show_input">
            <input type="text" name="callback_phone" placeholder="+7 (___) ___-__-__" />
            <span class="callback_phone_error"></span>
          </div>
        </div>
        <div class="callback_button">
          <a href="#" class="callback_one_click button"><span>Заказать</span></a>
        </div>
      </div>
      <div class="picture_grey_bg"></div>
      <div class="picturepopup">
        <div class="picturepopup_header">
          <div class="picturepopup_close"></div>
        </div>
        <div class="show_info_picture">
        </div>
      </div>
      <div class="picturepopup_width">
        <div class="picturepopup_header">
          <div class="picturepopup_close"></div>
        </div>
        <div class="show_info_picture_width">
        </div>
      </div>
    </noindex>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <div class="mango-callback" data-settings='{"type":"", "id": "MTAwMDgxMDY=","autoDial" : "0", "lang" : "ru-ru", "host":"widgets.mango-office.ru/", "errorMessage": "В данный момент наблюдаются технические проблемы и совершение звонка невозможно"}'>
    </div>
</body>

</html>
