{% include 'breadcrumb' %}
<div id="product-info-parent" itemscope itemtype="http://schema.org/Product" data-recently-view="{{product.id}}">
  <div id="content" style="margin-bottom: 0;">
    <div class="product-info">
      <div class="left">
        <noindex>
          <div class="stickers">
            {%if product.old_price%}
              <div class="product_sticker_special">-{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%</div>
            {%endif%}
            {%if product.properties.label.characteristics[0].name == "Новинка" %}
                <div class="product_sticker_new"><span>New!</span></div>
            {%endif%}
            {%if product.properties.label.characteristics[0].name == "Хит продаж" %}
              <div class="product_sticker_hit"><span>Хит</span></div>
            {%endif%}
          </div>
        </noindex>
        <div class="left_image">
          <div class="image-additional-container">
            <div class="image-additional">
              <div class="image-additional-multi">
                <div class="image-additional-multi-inner" style='height: 216px;'>
                  {% for image in product.images %}
                    <a startindex="1" href="{{image.original_url}}" title="{{image.title}}" class="colorbox">
                      <img style="max-height: 60px; max-width: 60px;" src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" data-src="{{image.compact_url}}" title="{{image.title}}" itemprop="image" title="{{image.title}}" />
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="image image_product">
            <a href="{{product.first_image.original_url}}" title="{{product.title}}" class="colorbox">
              <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" data-src="{{product.first_image | image_url: 340 }}" title="{{product.title}}" title="{{product.title}}" id="image" />
            </a>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="product_icons">
          <div class="product_icons_social">
            <div class="product_inons_social_popup">
              <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
              <script src="//yastatic.net/share2/share.js"></script>
              <div class="ya-share2" id="my-share" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
            </div>
          </div>
          <div class="product_icons_compare product_features_compare " data-compare-add="{{ product.id }}"></div>
        </div>
        <h1 itemprop="name">{{product.title}}</h1>
        <div class="under_h1">
          <div class="left_info_product_last_review_rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue" style='display: none;'>{{product.rating}}</span>
            <span itemprop="reviewCount" style='display: none;'>{{product.reviews_count}}</span>
            <a class="rating_text" href="https://ru-mi.com/besprovodnye-naushniki-xiaomi-mi-airdots-belyj/reviews">{{product.reviews_count}} Отзывов</a>
            <div class="rating_stars">
              <div class="rating_full" style="width: {{product.reviews_count | times: 20 }}%"></div>
            </div>
          </div>
          <div style="clear: left;"></div>
        </div>
        <div class="adaptive_images_container">
          <div class="stickers">
            <div class="product_sticker_special">-{{ product.old_price | minus: product.price | divided_by: product.old_price | times: 100 | round: 0}}%</div>
          </div>
          <div class="adaptive_images">
            {% for image in product.images %}
              <div class="adaptive_image">
                <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" data-src="{{image.original_url}}" />
              </div>
            {% endfor %}
          </div>
          <script type="text/javascript">
            <!--
            $('.adaptive_images').owlCarousel({
              singleItem: true,
              autoHeight: true,
              responsive: true,
              autoHeight: true,
              navigation: false,
              pagination: true,
            });
            -->
          </script>
        </div>
        <div class="pseudo_h1">{{product.title}}</div>
        <span class="stock">
					{%if product.available%}
						<span class="in_stock_icon">
							<span>В наличии</span>
        </span>
        {%else%}
        <span class="out_of_stock_icon">
						<span>Нет в наличии</span>
        </span>
        {%endif%}
        </span>
        <div class="product_right_sku_container">
          <div class="product_right_sku">Артикул: <span>{{product.id}}</span></div>
        </div>
        <div class="left_info_product">
          <div class="product_right_top">
            <div class="product_manufacturer_logo_right_info"><a href="https://ru-mi.com/xiaomi">Подробнее<br /><span>о Xiaomi</span></a></div>
            <div class="product_manufacturer_logo">
              <a href="#"><img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" class="lazyload" data-src="https://ru-mi.com/image/cache/data/manufacturers/new/xiaomi-123x36_hor.png" /></a>
            </div>
          </div>
        </div>
        <div class="some_right">
          <div class="all_right_block">
            <form action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
              <div class="all_right_top" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="price" content="{{product.price}}" />
                <meta itemprop="priceCurrency" content="RUB" />
                <link itemprop="availability" href="http://schema.org/InStock" />
                <div class="price">
                  {%if product.old_price%}
                    <span class="price-old">{{product.old_price | round: 0}}</span>
                  {%endif%}
                  <span class="price-new">{{product.price | money}}</span>
                </div>
                {%if account.quick_checkout.enabled%}
                  <div class="oneclick_button" id="oneclick_button_send">
                    <span>Купить в 1 клик</span>
                  </div>
                {%endif%}
                <div style="display: none;" data-quantity>
                  <input type="text" name="quantity" value="1" />
                </div>
                <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
                <div class="cart">
                  <input type="hidden" name="quantity" size="2" value="1" />
                  <input type="hidden" name="product_id" size="2" value="10814" />
                  <a id="button-cart" data-item-add><span>В корзину</span></a>
                </div>
              </div>
            </form>
          </div>
          <div class="product_specialblock">
            <div class="product_delivery_container">
              <div><a href="https://ru-mi.com/dostavka">Доставка по Москве:</a> от 290 рублей</div>
              <div><a href="https://ru-mi.com/dostavka">Самовывоз из Москвы:</a> <b>бесплатно</b></div>
              <div class="product_delivery_container_blocks">
                <a href="https://ru-mi.com/dostavka" class="product_delivery_container_block_1"><span>Экспресс доставка</span></a>
              </div>
            </div>
          </div>
          <div class="go_to_description">
            <a href="#tab-description">Перейти к описанию товара</a>
          </div>
        </div>
      </div>
      <div class="cl_b"></div>
    </div>
  </div>
  <div class="rr-widget cartRelated rr-active">
    <header class="widgettitle" style="margin-top: 20px; margin-bottom: 5px;">С этим товаром покупают</header>
    {%assign productproducts_limit = 100%}
    {%if product.similar_products.size > 0%}
			{%assign productproducts = product.similar_products %}
		{%elsif product.related_products.size > 0%}
			{%assign productproducts = product.related_products %}
		{%else%}
			{%assign productproducts = collections.all.products %}
      {%assign productproducts_limit = 15%}
    {%endif%}
    <ul class="items">
      {% for product in productproducts limit: productproducts_limit %}
        {%include 'slider-product'%}
      {%endfor%}
    </ul>
  </div>

  <div class="product_info_bottom">
    <div class="product_tabs" id="products_tabs">
      <ul class="product_tabs_htabs">
        <li><a href="#tab-description">Описание</a></li>
        <li><a href="#tab-attribute">Характеристики</a></li>
        <li><a href="#tab-review">Отзывы <span>({{product.reviews_count}})</span></a></li>
      </ul>
      <div id="tab-description" class="product_tabs_content">
          <h2 class="product_h2">{{product.title}}</h2>
          {{product.description}}
          <script type="text/javascript">
            $(function() {
              $("#tab-description img").each(function(index) {
                var src = $(this).attr('src');
                $(this).removeAttr('src');
                $(this).attr('data-src', src);
              });
              $("#tab-description img").lazyload({
                effect: "fadeIn"
              });
            });
          </script>

      </div>
      <div id="tab-attribute" class="product_tabs_content">
          <div class="tab_attribute_all">
            <style>
              .product_tabs_content .tab_attribute_right {margin-left: 28px;}
            </style>
            <div class="tab_attribute_right">
              <div class="tab_attribute_group_right_main">
                <div class="tab_attribute_group_right_top" tab_attribute_content="24"> Главные характеристики</div>
                <div class="tab_attribute_group_right_attributes">
                  {% for property in product.properties %}
              			<div class="tab_attribute_group_right_attributes_obolochka">
              					<div class="tab_attribute_group_right_attributes_left"><span>{{ property.title }}</span></div>
              							<div class="tab_attribute_group_right_attributes_right"><span>
                              {% for characteristic in product.properties[property.handle].characteristics %}
                								{{ characteristic.title }}{% unless forloop.last %},{% endunless %}
                							{% endfor %}
                            </span></div>
              			</div>
              		{% endfor %}
                </div>
              </div>
              <div class="tab_attribute_right_addition">
                Технические характеристики и комплектации товара могут
                <br /> быть изменены без уведомления со стороны производителя
              </div>
            </div>
          </div>
      </div>
      <div id="tab-review" class="product_tabs_content">
          <div class="tab-review-header">
            <div class="tab-review-header-left">Отзывы</div>
            <div class="tab-review-header-right"><a class="write_review testimonial_write button" href="#"><span>Написать отзыв</span></a></div>
          </div>

            {% if product.reviews_count > 0 %}
              <div class="tab-review-reviews">
                {% for review in product.reviews %}
                <div class="one-review" itemprop="review" itemscope itemtype="http://schema.org/Review">
                  <div class="one-review-left">
                    <div class="one-review-left-author" itemprop="author">{{review.author}}</div>
                    <div class="one-review-left-date" content="{{ review.created_at | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ review.created_at | date: "%d.%m.%Y" }}</div>
                    <div class="rating_stars" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                      <meta content="1" itemprop="worstRating" />
                      <meta content="{{review.rating}}" itemprop="ratingValue" />
                      <meta content="5" itemprop="bestRating" />
                      <div class="rating_full" style="width: {{review.rating | times: 20}}%"></div>
                    </div>
                  </div>
                  <div class="one-review-right" itemprop="reviewBody">
                    <div class="one-review-right-text"><span class="review-head">Отзыв</span><span class="review-text">
                      {{review.content}}
                    </span></div>

                    <div class="as_yandex_review" id="as_yandex_review_30659">
                      <span class="as_yandex_review_text">Вам понравился отзыв?</span>
                      <div class="as_yandex_review_plus" review_id="30659"><span class="image"></span><span class="as_yandex_review_number">0</span></div>
                      <div class="as_yandex_review_minus" review_id="30659"><span class="image"></span><span class="as_yandex_review_number">0</span></div>
                    </div>
                  </div>
                </div>
              {%endfor%}
            </div>
          {%else%}
            <div class="reviews_clear" style="padding: 20px 0;">
              <p><b>Напиши отзыв — получи Скидки!</b></p>
              <p>Помогать другим покупателям определиться с выбором товара теперь выгодно! Расскажите о товаре, который приобрели у нас, и получите за это скидку на товары! </p>
              <p>Пишите отзывы о каждом товаре, приобретенном в нашем интернет-магазине. Благодаря этому другие покупатели смогут узнать о качестве, достоинствах и возможных недостатках товара, который они собираются приобрести. А Вы за свои отзывы получите заслуженную награду</p>
                  {% if account.reviews_moderated? %}
                    <!--<p><b style="padding: 20px;display: block;background-color: #D0F0C0;">Спасибо за ваш отзыв! Мы проверим его и свяжемся с вами по указанной почте)</b></p>-->
                  {% endif %}
            </div>
          {%endif%}
      </div>
    </div>
  </div>


        <div class="recently_view_block"></div>



	<script type="text/javascript">
		$(function(){
	    $("#products_tabs").tabs();
	  });
	</script>
	<script type="text/javascript">
		$('.tab_attribute_group_left').live('click', function() {
			var tab_attribute_id = $(this).attr('tab_attribute_id');
			$('.tab_attribute_group_left').removeClass('tab_attribute_group_left_active');
			$(this).addClass('tab_attribute_group_left_active');
			$('html, body').animate({
				scrollTop: $('.tab_attribute_group_right_top[tab_attribute_content="' + tab_attribute_id + '"]').offset().top
			}, 1100);
		});
	</script>
  <div id="fotorama_main"></div>
</div>

<div class="review_grey_bg" style="display: none;"></div>
<div class="review_popup" style="display: none;">
	<div class="review_popup_line"></div>
	<div class="review_popup_header">Новый отзыв
		<div class="review_popup_close"></div>
	</div>
  <form class="review-form" method="post" action="{{product.url}}/reviews">
  	<div class="review_popup_rating">
  		<div class="review_popup_rating_header">Оценка</div>
  		<div class="review_popup_rating_stats">
  			<div id="raiting_star">
  				<div id="raiting">
            <div class="review-rating js-rating">
  								<input type="hidden" name="review[rating]" value="4" data-rating-input="">
  										<span class="rating-item rating-item--star rating-item--active" data-rating-star="" data-rating-rate="1"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></span>
                      <span class="rating-item rating-item--star rating-item--active" data-rating-star="" data-rating-rate="2"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></span>
                      <span class="rating-item rating-item--star rating-item--active" data-rating-star="" data-rating-rate="3"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></span>
                      <span class="rating-item rating-item--star rating-item--active" data-rating-star="" data-rating-rate="4"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></span>
                      <span class="rating-item rating-item--star rating-item--unactive" data-rating-star="" data-rating-rate="5"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg></span>
  								<span class="rating-item rating-item--reset" data-rating-reset=""><svg class="svg-inline--fa fa-times-circle fa-w-16" aria-hidden="true" data-prefix="far" data-icon="times-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"></path></svg><!-- <span class="far fa-times-circle"></span> --></span>
  							</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<input type="hidden" name="rating_input" value="0">
  	<div class="review_popup_inputs">
  		<div class="review_popup_input_left">
  			<div class="review_popup_input_header">Ваше имя:</div>
  			<div class="review_popup_input_input"><input name="review[author]" placeholder="Введите имя" value="" type="text" required><span class="popup_error popup_error_name">Не заполнено имя!</span></div>
  		</div>
  		<div class="review_popup_input_right">
  			<div class="review_popup_input_header">Ваш e-mail:</div>
  			<div class="review_popup_input_input"><input name="review[email]" placeholder="Введите e-mail" value="" type="text" required></div>
  		</div>
  	</div>
  	<div class="review_popup_text">
  		<div class="review_popup_text_header">Отзыв:</div>
  		<div class="review_popup_text_textarea"><textarea name="review[content]" placeholder="Введите комментарий" style="height: 90px;"></textarea><span class="popup_error popup_error_text">Не заполнен комментарий!</span></div>
  	</div>
  	<div class="review_popup_button">
  		<button type="submit" style="border: 0; background: transparent;"><a class="button"><span>Отправить отзыв</span></a></button>
  	</div>
  </form>
</div>
